.icon- {

    &-bracket {
    	width: 84px;
    	height: 112px;
    }

    &-close {
    	width: 41px;
    	height: 41px;
    }

    &-note {
    	width: 78px;
    	height: 102px;
    }

    &-pb {
    	width: 36px;
    	height: 53px;
    }

    &-pencil {
    	width: 75px;
    	height: 214px;
    }
}
