.project{

    &__logo
    {
        &-cont
        {
            margin: -90px 0 20px 0;
            text-align: center;

            @media only screen and (min-width: $media-tablet)
            {
                margin-top: -50px;
            }
        }
    }
}
