<div class="comms" data-init="modal">
  <h2 class="h2 strike">
    <span class="strike__heading">Comms</span>
  </h2>
  <p>
    Whether I’m pitching, planning or executing, I enjoy presenting ideas, selling in concepts and engaging in constructive two-way dialogue to bring in different points of view. I have found that listening without bias or judgement and truly understanding what the client wants to achieve enables great work to happen. 
  </p>
  <div class="button__wrap">
    <a href="/pages/communication" class="button button--white js-modal-open" data-modal="modal-communication">
      Communication Experience
    </a>
  </div>
</div>