<div class="belt">
  <div id="js-ajax">
    <article>
      <div class="communication-detail">
        <header>
          <h2 class="h2 center--mobile">
            Comms
          </h2>
        </header>
        <div class="grid">
          <div class="column width-50">
            <p>
              Building positive relationships and clear communication are fundamental for collaboration and building trust,  as well as ensuring mutual understanding of goals and parameters. Whether I’m working alone or in a team, I like to define and distil the problem and use this as the central point upon which ideas and all activities diverge and converge.
            </p>
            <p>
              I am confident to lead, organise and execute a project with little or no direction. I often put in place the framework to structure and guide work along a timeline, building in points for feedback. I enjoy presenting to both tech and non-tech types to inspire and explain complex ideas. In terms of leadership, my work can range from organising and facilitating workshops with clients and partners to pushing work with counterparts and teams. I find working with others exciting and it often improves my practice and brings about new understanding for all parties.
            </p>
            <p>
              At its heart, my work is both for and with people and I enjoy working, learning and interacting with everyone from users to business leaders.
            </p>
          </div>
          <div class="column width-50">
            <p>
              hi
            </p>
            {# <ul class="list">
              <li>Semantic, API rich HTML</li>
              <li>Accessibility rich markup such as aria-roles</li>
              <li>Dry CSS patterns such as BEM</li>
              <li>Pre compilers such as SASS</li>
              <li>CSS frameworks such as Bootstrap</li>
              <li>Responsive CSS patterns</li>
              <li>Modular Javascript / ES6 / jQuery</li>
              <li>Configuration and tooling using the Command Line</li>
              <li>Utilising package managers such as NPM</li>
              <li>Managing repositories using Git or SVN</li>
              <li>Task-runners such as Grunt</li>
              <li>Dependency management such as Webpack and Browserify</li>
              <li>MV* frameworks such as React</li>
              <li>MVC application frameworks such as Laravel</li>
            </ul> #}
          </div>
        </div>
        {# <div class="grid space--med-before">
          <div class="column width-100">
            <p class="text--bold center--mobile">
                Clients recently worked with include:
            </p>
            <ul class="list-horizontal list-horizontal--icons">
              <li>
                <svg class="icon--vodafone icon-color--white">
                  <use xlink:href="#icon--vodafone"></use>
                </svg>
              </li>
              <li>
                <svg class="icon--gsk icon-color--white">
                  <use xlink:href="#icon--gsk"></use>
                </svg>
              </li>
              <li>
                <svg class="icon--bupa icon-color--white">
                  <use xlink:href="#icon--bupa"></use>
                </svg>
              </li>
            </ul>
          </div> #}
      </div>
    </div>
  </article>
</div>
</div>