<div class="comms" data-init="modal">
  <div class="media">
    <div class="media__img comms__icon">
      <svg class="icon--speech">
        <use xlink:href="#icon--speech"></use>
      </svg>
    </div>
    <div class="media__text">
      <h2 class="h2">
        <span class="strike comms--strike">
          Comms
        </span>
      </h2>
      <p>
        Whether I’m pitching, planning or executing, I enjoy presenting ideas, selling in concepts and engaging in constructive two-way dialogue and bringing in different points of view. I have found that listening without bias or judgement and truly understanding what the client wants to achieve enables great work to happen.
      </p>
      <div class="button__wrap">
        <a href="/pages/communication" class="button button--white js-modal-open" data-modal="modal-communication">
          Communication Experience
        </a>
      </div>
    </div>
  </div>
</div>