<div class="comms" data-init="modal">
  <h2 class="h2 strike">
    <span class="strike__text">Comms</span>
    <span class="strike__line">&nbsp;</span>
  </h2>
  <p>
    Whether I’m pitching, planning or executing, I enjoy presenting ideas, selling in concepts and engaging in a constructive two-way dialogue to take on different points of view. I believe great work relies on great communication at all stages of creation and beyond. 
  </p>
  <div class="button__wrap">
    <a href="/pages/communication" class="button button--white js-modal-open" data-modal="modal-communication">
      Communication Experience
    </a>
  </div>
</div>