<div class="contact" data-init="modal">
  <div class="media">
    <div class="media__img contact__icon">
      <svg class="icon--note">
        <use xlink:href="#icon--note"></use>
      </svg>
    </div>
    <div class="media__text">
      <h2 class="h2">
        <span class="strike contact--strike">Contact</span>
      </h2>
      <p>
        If you have any questions, want to know any more or just want to connect please drop me a message.
      </p>
      <div class="button__wrap">
        <a href="/pages/contact" class="button button--mischka js-modal-open" data-modal="modal-contact">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</div>