<div class="contact" data-init="modal">
  <h2 class="h2 strike">
    <span class="strike__heading">Contact</span>
  </h2>
  <p>
    If you have any questions, want to know any more or just want to connect please drop me a message.
  </p>
  <div class="button__wrap">
    <a href="/pages/contact" class="button button--mischka js-modal-open" data-modal="modal-contact">
      Get in touch
    </a>
  </div>
</div>