<div class="contact" data-init="modal">
  <div class="media">
    <div class="media__img contact__icon">
      <svg class="icon--note">
        <use xlink:href="#icon--note"></use>
      </svg>
    </div>
    <div class="media__text">
      <h2 class="h2">
        <span class="strike contact--strike">Contact</span>
      </h2>
      <p>
        If you would like to know more about my work then please get in touch.
      </p>
      <div class="button__wrap">
        <span class="display--desktop">
          <a href="/pages/contact" class="button button--mischka js-modal-open" data-modal="modal-contact">
            Visit contact
          </a>
        </span>
        <span class="display--mobile" data-init="email"></span>
      </div>
    </div>
  </div>
</div>