<div id="js-ajax">
  <div class="contact-section belt space--lrg-before" data-init="contact">
    <form class="form contact-form js-contact--form" method="POST">
      <legend class="form__legend">Contact form</legend>
      <fieldset>
        <div class="form__row">
          <input class="form__input" name="name" type="text" required/>
          <label class="form__label form__label--active" for="name">Your name</label>
        </div>
        <div class="form__row">
          <input class="form__input" name="_replyto" type="text" required/>
          <label class="form__label" for="email">Your email</label>
        </div>
        <div class="form__row form__row--message">
          <textarea class="form__input form__input--textarea" name="message" maxlength="500" type="text" rows="20" required></textarea>
          <label class="form__label" for="message">Your message</label>
        </div>
      </fieldset>
      <fieldset>
        <button type="submit" class="button button--mineshaft-lighten button--only-border" value="Send">Send</fieldset>
      </fieldset>
    </form>
  </div>
</div>