<div class="belt">
  <div id="js-ajax">
    <article>
      <div class="design-detail">
        <header>
          <h2 class="h2 strike space--med-after space--med-before">
            <span class="strike__text strike__text--white">Creative</span>
            <span class="strike__line strike__line--red"></span>
          </h2>
        </header>
        <p>
          I regularly carry out a range of creative activities to deliver any single project, from sketching ideas to playing with and repurposing technology to discover new possibilities. When starting from scratch I lean into the UX and service design fields to gain user insight and inform strategy. 
        </p>
        <p>  
          When considering design and UI, I use both my knowledge of development and my creative skills to quickly visualise and bring static concepts to life on screen. I consider responsive behaviour, progressive enhancements and API functions from inception. My technical knowledge allows me to easily understand the feasibility and likely costs for my creative ideas. Creativity and technology is a powerful combination, but I always start by establishing the problem and considering options first. 
        </p>
        <p class="space--lrg-after">
          The lifecycle of a project for me starts  away from the fidelity and familiar patterns of software, in a space where I can produce new ideas and stretch them to their full potential. Able to carry a project from inception to completion, I love taking the spark of an idea and seeing it develop through concept artwork followed by designs and delivering to stakeholders an end product which is perfectly fit for purpose and beyond.
        </p>
        <h3 class="h4 space--med-after">
          Design skills
        </h3>
        <ul class="list space--lrg-after">
          <li>Design programmes such as Sketch and Adobe CS</li>
          <li>Pipeline tools such as Zeplin and Craft</li>
          <li>Static prototyping tools such as InVision</li>
          <li>Dynamic prototyping using FramerX</li>
          <li>Design using Atomic design principles</li>
          <li>Wire-framing process and tools such as Adobe Xd</li>
          <li>Rapidly assess design to development transition</li>
          <li>Visualize information for services and users</li>
          <li>Typography and typesetting for print and web</li>
          <li>Illustration, iconography and image retouching</li>
          <li>Design for print and art-working</li>
        </ul>
        <div class="grid">
          <div class="column width-100">
            <h3 class="h4">
              Recent clients
            </h3>
            <ul class="list-horizontal">
              <li>
                <svg class="icon--greygoose icon-color--ironside-gray">
                  <use xlink:href="#icon--greygoose"></use>
                </svg>
              </li>
              <li>
                <svg class="icon--lbg icon-color--ironside-gray">
                  <use xlink:href="#icon--lbg"></use>
                </svg>
              </li>
              <li>
                <svg class="icon--bbc icon-color--ironside-gray">
                  <use xlink:href="#icon--bbc"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>