<div class="belt">
    <div id="js-ajax">
        <h2 class="h2">
            Design
        </h2>
        <div class="grid">
            <div class="column width-70">
                <p>
                    While the intricate print process I was once using is a long way from where I am today, the key skills of understanding client needs and articulating concepts is still an important part of my development practice. In particular, the requirement to explain technical knowledge to a broader audience. Being a designer gave me opportunity to work in a wide range of disciplines and learning to embrace the experience of being a beginner has continued into my development when picking up new languages and technologies.
                </p>
            </div>
        </div>

        <article>
            <header>
                <h3 class="h3 space--lrg-before">
                    Branding
                </h3>
            </header>

            <div class="grid grid--sm">
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/branding/paddywagon-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/branding/paddywagon-768.jpg" media="(max-width: 768px)">
                        <img src="/images/branding/paddywagon-1200.jpg" alt="logo for my bike">
                    </picture>
                </div>
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/branding/gent-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/branding/gent-768.jpg" media="(max-width: 768px)">
                        <img src="/images/branding/gent-1200.jpg" alt="#">
                    </picture>
                </div>
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/branding/ka-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/branding/ka-768.jpg" media="(max-width: 768px)">
                        <img src="/images/branding/ka-1200.jpg" alt="#">
                    </picture>
                </div>
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/branding/skinesis-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/branding/skinesis-768.jpg" media="(max-width: 768px)">
                        <img src="/images/branding/skinesis-1200.jpg" alt="#">
                    </picture>
                </div>
            </div>
        </article>

        <article>
            <header>
                <h3 class="h3 space--lrg-before">
                    Clothing
                </h3>
            </header>

            <div class="grid grid--sm">
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/clothing/caps-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/clothing/caps-768.jpg" media="(max-width: 768px)">
                        <img src="/images/clothing/caps-1200.jpg" alt="#">
                    </picture>
                </div>
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/clothing/stringlogo-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/clothing/stringlogo-768.jpg" media="(max-width: 768px)">
                        <img src="/images/clothing/stringlogo-1200.jpg" alt="#">
                    </picture>
                </div>
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/clothing/wires-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/clothing/wires-768.jpg" media="(max-width: 768px)">
                        <img src="/images/clothing/wires-1200.jpg" alt="#">
                    </picture>
                </div>
            </div>
        </article>

        <article>
            <header>
                <h3 class="h3 space--lrg-before">
                    Editorial
                </h3>
            </header>

            <div class="grid grid--sm">
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/print/range-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/print/range-768.jpg" media="(max-width: 768px)">
                        <img src="/images/print/range-1200.jpg" alt="#">
                    </picture>
                </div>
                <div class="column column--sm width-50">
                    <picture>
                        <source srcset="/images/print/magazine-480.jpg" media="(max-width: 480px)">
                        <source srcset="/images/print/magazine-768.jpg" media="(max-width: 768px)">
                        <img src="/images/print/magazine-1200.jpg" alt="#">
                    </picture>
                </div>
        </article>
        <!-- print article end -->
    </div>
</div>
