<div class="belt">
    <div id="js-ajax">
        <h2 class="h2 center--mobile">
            Design
        </h2>
        <div class="grid">
            <div class="column width-70">
                <p>
                    While the intricate print process I was once using is a long way from where I am today, the key skills of understanding client needs and articulating concepts is still an important part of my development practice. In particular, the requirement to explain technical knowledge to a broader audience. Being a designer gave me opportunity to work in a wide range of disciplines and learning to embrace the experience of being a beginner, to be inquisitive and look to explore to help solve problems has continued into my development with new languages and technologies.
                </p>
                <p>
                    During my time in design I enjoyed working on a wide range of briefs working across print and digital engaging with clients and brands in a variety of sectors. Highlights include seeing work featured on record covers, art directing magazines, producing clothing lines, creating branding for new products and designing a few retail spaces. This started within agencies and progressed to freelancing where I began touching on development as I won briefs with corresponding digital work which led to a full time front end role.
                </p>
            </div>
        </div>

    </div>
</div>
