<div class="belt">
    <div id="js-ajax">
        <h2 class="h2 space--lrg-after center--mobile">
            Creative
        </h2>

        <div class="grid">
            <div class="column width-50">
                <p>
                    While my design practice is behind me the key skills of understanding client needs and articulating concepts is still just as important in my development today. In particular, the soft skills to communicate to a range of audiences from non technical clients to lead developers. Being a designer gave me opportunity to work in a wide range of disciplines where I enjoyed the process of discovering, experimenting and iterating to find the best solutions which has continued into my development when using new technologies and languages.
                </p>
                <p>
                    Solving briefs ranging from creating chart topping album artwork to creating website interfaces has given me first hand experience to understand the importance of good design. While I’m no longer a designer, I'm' passionate about how the sites I develop look, feel and function.
                </p>
            </div>
            <div class="column width-50">
                <p class="text--bold center--mobile">
                    Design background helps me:
                </p>
                <ul class="list">
                    <li>Quickly translate design to development</li>
                    <li>Understand design and UX in discussion</li>
                    <li>Feedback to improve designs</li>
                    <li>Be attentive with styling and detail</li>
                    <li>See design patterns</li>
                    <li>Care and be vocal about design</li>
                </ul>
            </div>
        </div>
        <div class="grid space--med-before">
            <div class="column width-100">
                <p class="text--bold center--mobile">
                    Clients designed for include:
                </p>
                <ul class="list-horizontal list-horizontal--icons">
                    <li>
                        <svg class="icon--bbc icon-color--white">
                            <use xlink:href="#icon--bbc"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon--fifa icon-color--white">
                            <use xlink:href="#icon--fifa"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon--universal icon-color--white">
                            <use xlink:href="#icon--universal"></use>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
