<div class="design" data-init="modal">
    <div class="media">
        <div class="media__img design__icon">
            <svg class="icon--pencil icon-color--white">
                <use xlink:href="#icon--pencil"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike design--strike">
                    Creative
                </span>
            </h2>
            <p>
                While I focus solely on development my route through design keeps me a UI/UX enthusiast. Offering technical insight by understanding design have helped saved time and effort by being able to spot problems and offer suggestions or enhance ideas.
            </p>
            <div class="button__wrap">
                <a href="/pages/design.html" class="button button--brickred js-modal-open" data-modal="modal-design">
                    View Design Projects
                </a>
            </div>
        </div>
    </div>
</div>
