<div class="belt">
  <div id="js-ajax">
    <h2 class="h2 space--lrg-after center--mobile">
      Creative
    </h2>
    <p>
      A wide range of creative activities is needed to happily fulfil any single project. From sketching ideas to playing with and repurposing technology to discover new possibilities. Starting from scratch I can lean into UX and service designs fields to gain user-centric insight and strategy. isciplines where I enjoyed the process of discovering, experimenting and iterating to find the best solutions which has continued into my development practice when using new technologies and languages.
    </p>
    <p>
      When considering design and UI, I can utilise my knowledge of development to quickly understand how to transition from static concepts to dynamic screens. Areas such as responsive behaviour, progressive enhancements and API functions can be considered from inception. Technical knowledge gives me the benefit to be able to benchmark feasibility and costs for creative ideas.
    </p>
    <p>
      However powerful combining creativity and technology, establishing the problem and considering options first is essential. Starting high-level, away from the fidelity and familiar patterns of software to help produce new ideas and stretch their full potential. From inception to completion I can shape and pivot ideas as they progress. Taking the spark of an idea, ideate and create concept artwork followed by designs ready for stakeholder presentation, fit for development purpose and beyond.
    </p>
    <p class="text--bold center--mobile">
      Design skills
    </p>
    <ul class="list">
      <li>Design programmes such as Sketch and Adobe CS</li>
      <li>Pipeline tools such as Zeplin and Craft</li>
      <li>Static prototyping tools such as InVision</li>
      <li>Dynamic prototyping using FramerX</li>
      <li>Design using Atomic design principles</li>
      <li>Wire-framing process and tools such as Adobe Xd</li>
      <li>Rapidly assess design to development transition</li>
      <li>Visualize information for services and users</li>
      <li>Typography and typesetting for print and web</li>
      <li>Illustration, iconography and image retouching</li>
      <li>Design for print and art-working</li>
    </ul>
    <div class="grid space--med-before">
      <div class="column width-100">
        <p class="text--bold center--mobile">
          Recent clients
        </p>
        <ul class="list-horizontal list-horizontal--icons">
          {# <li>
            <svg class="icon--bp icon-color--white">
              <use xlink:href="#icon--bp"></use>
            </svg>
          </li> #}
          <li>
            <svg class="icon--greygoose icon-color--white">
              <use xlink:href="#icon--greygoose"></use>
            </svg>
          </li>
          <li>
            <svg class="icon--lbg icon-color--white">
              <use xlink:href="#icon--lbg"></use>
            </svg>
          </li>
          <li>
            <svg class="icon--bbc icon-color--white">
              <use xlink:href="#icon--bbc"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>