<div class="design" data-init="modal">
  <div class="media">
    <div class="media__img design__icon">
      <svg class="icon--pencil icon-color--white">
        <use xlink:href="#icon--pencil"></use>
      </svg>
    </div>
    <div class="media__text">
      <h2 class="h2">
        <span class="strike design--strike">
          Creative
        </span>
      </h2>
      <p>
        Ten years in design roles working across print and digital media taught me fundamental aesthetic principles that inform my visual work and enable me to deliver the small but meaningful details for users. I balance analytical thinking with a creative approach to help me think big and solve practically.
      </p>
      <div class="button__wrap">
        <a href="/pages/design" class="button button--brickred js-modal-open" data-modal="modal-design">
          Design experience
        </a>
      </div>
    </div>
  </div>
</div>