<div class="belt">
  <div id="js-ajax">
    <article>
      <div class="develeopment-gallery">
        <header>
          <h2 class="h2 center--mobile">
            Coding
          </h2>
        </header>
        <a class="link__site-link" href="https://github.com/patrickbower" target="_blank" rel="noopener">
          <div class="media-obj media-obj--middle">
            <div class="media-obj__image media-obj__image--middle link__site-link-icon">
              <svg class="icon--github icon-color--white link__site-link-icon">
                <use xlink:href="#icon--github"></use>
              </svg>
            </div>
            <div class="media-obj__body media-obj--spacing">
              To see some examples of my development work please take a look at my GitHub profile.
            </div>
          </div>
        </a>
        <p>
          I’m passionate about seeing an idea through from inception to completion. By leanly testing concepts I avoid wasting time on assumptions and I’m able to seamlessly reorientate around better solutions as they emerge. While I regularly make use of the latest libraries, tools and plugins to speed up on-screen testing time, I also believe there should be no shortcuts when it comes to well-formed code driven by web standards ensuring it is scalable, accessible and eloquent.
        </p>
        <p>
          During my career, I've witnessed a rapid change in development and technology, which creates exciting new technical opportunities and challenges. Meeting these new challenges demands a high level of technical knowledge and creative problem solving and pushes me to continue learning and experimenting.
        </p>
        <p class="text--bold center--mobile">
          Development skills
        </p>
        <ul class="list">
          <li>Semantic, API rich HTML</li>
          <li>Accessibility rich markup such as aria-roles</li>
          <li>Dry CSS patterns such as BEM</li>
          <li>Pre compilers such as SASS</li>
          <li>CSS frameworks such as Bootstrap</li>
          <li>Responsive CSS patterns</li>
          <li>Modular Javascript / ES6 / jQuery</li>
          <li>Configuration and tooling using the Command Line</li>
          <li>Utilising package managers such as NPM</li>
          <li>Managing repositories using Git or SVN</li>
          <li>Task-runners such as Grunt</li>
          <li>Dependency management such as Webpack and Browserify</li>
          <li>MV* frameworks such as React</li>
          <li>MVC application frameworks such as Laravel</li>
        </ul>
        <div class="grid space--med-before">
          <div class="column width-100">
            <p class="text--bold center--mobile">
              Recent clients
            </p>
            <ul class="list-horizontal list-horizontal--icons">
              <li>
                <svg class="icon--vodafone icon-color--white">
                  <use xlink:href="#icon--vodafone"></use>
                </svg>
              </li>
              <li>
                <svg class="icon--gsk icon-color--white">
                  <use xlink:href="#icon--gsk"></use>
                </svg>
              </li>
              <li>
                <svg class="icon--bupa icon-color--white">
                  <use xlink:href="#icon--bupa"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>