<div class="development" data-init="modal">
  <h2 class="h2 strike">
    <span class="strike__heading">Code</span>
    <span class="strike__line">&nbsp;</span>
  </h2>
  <p>
    Five years as a front-end engineer gave me a solid foundation in how the web works and how modern web technology is powered. I enjoy combining this knowledge with creative thinking to rapidly ideate in true terms.
  </p>
  <div class="button__wrap">
    <a href="/pages/development" class="button button--mischka js-modal-open" data-modal="modal-development">
      Development experience
    </a>
  </div>
</div>