<div class="belt">
    <div id="js-ajax">
        <article>
            <div class="develeopment-gallery">
                <header>
                    <h2 class="h2 center--mobile">
                        Coder
                    </h2>
                </header>
                <div class="grid">
                    <div class="column width-50">
                        <a class="development-gallery__github-link" href="https://github.com/patrickbower" target="_blank">
                            <div class="media-obj media-obj--middle">
                                <div class="media-obj__image media-obj__image--middle development-gallery__github-link-icon">
                                    <svg class="icon--github icon-color--white development-gallery__github-link-icon">
                                        <use xlink:href="#icon--github"></use>
                                    </svg>
                                </div>
                                <div class="media-obj__body media-obj--spacing">
                                    To see some examples of my development work please take a look at my GitHub profile.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="column width-50">
                        <p>
                            Over the past four years I’ve worked with clients ranging from global telecom and banking brands to ambitious startups and inhouse products. These projects are often in fast paced development cycles as part of an Agile process. I work closely with business leads, design and UX teams, accessibility experts, backend developers and offshore integration companies to deliver work to deadlines.
                        </p>
                        <p>
                            Placing a strong emphasis on process, I believe in writing well formed and maintainable code that adheres to web standards and where appropriate, is complemented by structured code comments. I look to utilise plugins, tools and libraries to speed up delivery times and provide robust solutions which can be combined into a lightweight front end technology stack.
                        </p>
                        <p>
                            During my experience as a developer I’ve seen rapid change in development and technology which are creating exciting new problems. It’s perhaps these possibilities which combine technical knowledge and creative thinking to solve that continue to keep me inspired and push me to learn and experiment.
                        </p>
                    </div>
                    <div class="column width-50">
                        <p>
                            Due to the nature of my employer's client list, I’m unable to share live work (due to non disclosure agreements), but below is an indication of the breadth of my work.
                        </p>
                        <ul class="list">
                            <li>Semantic, API rich HTML</li>
                            <li>Accessibility rich markup such as aria-roles</li>
                            <li>Dry CSS patterns such as BEM</li>
                            <li>Pre compilers such as SASS</li>
                            <li>CSS frameworks such as Bootstrap</li>
                            <li>Responsive CSS patterns</li>
                            <li>Modular Javascript / ES6 / jQuery</li>
                            <li>Configuration and tooling using the Command Line</li>
                            <li>Utilising package managers such as NPM</li>
                            <li>Managing repositories using Git or SVN</li>
                            <li>Task-runners such as Grunt</li>
                            <li>Dependency management such as Webpack and Browserify</li>
                            <li>MV* frameworks such as React</li>
                            <li>MVC application frameworks such as Laravel</li>
                        </ul>
                    </div>
                </div>
                <div class="grid space--med-before">
                    <div class="column width-100">
                        <p class="text--bold center--mobile">
                            Clients recently worked with include:
                        </p>
                        <ul class="list-horizontal list-horizontal--icons">
                            <li>
                                <svg class="icon--vodafone icon-color--white">
                                    <use xlink:href="#icon--vodafone"></use>
                                </svg>
                            </li>
                            <li>
                                <svg class="icon--rbs icon-color--white">
                                    <use xlink:href="#icon--rbs"></use>
                                </svg>
                            </li>
                            <li>
                                <svg class="icon--bupa icon-color--white">
                                    <use xlink:href="#icon--bupa"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
