<div class="development" data-init="modal">
  <div class="media">
    <div class="media__img development__icon">
      <svg class="icon--bracket">
        <use xlink:href="#icon--bracket"></use>
      </svg>
    </div>
    <div class="media__text">
      <h2 class="h2">
        <span class="strike development--strike">
          Coder
        </span>
      </h2>
      <p>
        Five years as a front-end engineer gave me a solid foundation in how the web works and power digital technology. I enjoy combining this knowledge with creative thinking to rapidly ideate in true terms.
      </p>
      <div class="button__wrap">
        <a href="/pages/development" class="button button--mischka js-modal-open" data-modal="modal-development">
          Engineer experience
        </a>
      </div>
    </div>
  </div>
</div>