<div class="development" data-init="modal">
    <div class="media">
        <div class="media__img development__icon">
            <svg class="icon--bracket">
                <use xlink:href="#icon--bracket"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike development--strike">
                    Present
                </span>
            </h2>
            <p>
                Working for well known organisations my goals are for fast, scalable, accessible and eloquent code. Whether embedded in a team or working alone I believe in delivering consistent and quality work.
            </p>
            <div class="button__wrap">
                <a href="/pages/development.html" class="button button--mischka js-modal-open" data-modal="modal-development">
                    Development experance
                </a>
            </div>
        </div>
    </div>
</div>
