<div class="development" data-init="modal">
    <div class="media">
        <div class="media__img development__icon">
            <svg class="icon--bracket">
                <use xlink:href="#icon--bracket"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike development--strike">
                    Coder
                </span>
            </h2>
            <p>
                Although I work in diverse programs of work for well known organisations the common goals for scalable, well performing, accessible and eloquent code are often found. Whether embedded in a team or working alone I believe in development principles to help deliver consistent and quality work.
            </p>
            <div class="button__wrap">
                <a href="/pages/development.html" class="button button--mischka js-modal-open" data-modal="modal-development">
                    View Development Projects
                </a>
            </div>
        </div>
    </div>
</div>
