<div class="belt">
    <div id="js-ajax">
        <article>
            <header>
                <h2 class="h2">
                    Development
                </h2>
            </header>
            <div class="grid">
                <div class="column width-70">
                    <p>
                        Due to the nature of my employer's client list I’m unable to share live (non disclosure agreement), work and instead can offer an insight into the projects.
                    </p>
                    <p>
                        Over the past four years I’ve worked with clients ranging from global telecom and banking brands to ambitious startups and inhouse products. Often in fast paced development cycles as part of an Agile process. I’ve regularly worked closely with business leads, design and UX teams, backend developers and offshore integration companies to deliver work to deadlines.
                    </p>
                    <p>
                        Some features of this work include:
                    </p>
                    <ul>
                        <li>Semantic, API rich HTML</li>
                        <li>Accessible markup for assistive technology users</li>
                        <li>Dry CSS patterns such as BEM</li>
                        <li>Pre compilers such as SASS</li>
                        <li>CSS frameworks such as Bootstrap</li>
                        <li>Responsive CSS patterns</li>
                        <li>Modular Javascript / ES6 / jQuery</li>
                        <li>Configuration and tooling using the command line</li>
                        <li>Managing repositories using Git or SVN</li>
                        <li>Task-runners such as Grunt</li>
                        <li>Dependency management such as Webpack and Browserify</li>
                        <li>MV* frameworks such as React</li>
                        <li>MVC application frameworks such as Laravel</li>
                    </ul>
                </div>
            </div>
            <a class="link--unicode" href="#">
                &#9634;<span class="unicode unicode--external-link-arrow">&#8599;</span>
                Visit GitHub
            </a>
        </article>
    </div>
</div>
