<div class="footer">
  <a href="https://www.linkedin.com/in/patrick-bower" class="footer__link"  target="_blank">
    <svg class="icon--linkedin icon-color--white footer__link-icon">
      <use xlink:href="#icon--linkedin"></use>
    </svg>
  </a>
  <a href="https://github.com/patrickbower" class="footer__link"  target="_blank">
    <svg class="icon--github icon-color--white footer__link-icon">
      <use xlink:href="#icon--github"></use>
    </svg>
  </a>
</div>