<footer>
  <div class="footer-secondary" data-init="back-button">
    <a href="/" class="js-back-button back-button leading--none">
      <svg class="icon--arrow-left">
        <use xlink:href="#icon--arrow-left"></use>
      </svg>
      <span class="visually-hidden">Back</span>
    </a>
  </div>
</footer>