<div class="header">
  <a href="#" class="branding-diamond branding-oblong">
    <svg class="icon--pb icon-color--mako branding-diamond__icon branding-oblong__icon">
      <use xlink:href="#icon--pb"></use>
    </svg>
  </a>
  {# <h2 class="h2 title title-strike">
    <span class="title-strike__heading">Patrick</span>
    <span class="title-strike__slash"></span>
    <span class="title-strike__heading title-strike__heading--reverse">Bower</span></h2>
  <h3 class="h3 title-subhead">UX <span class="title-strike__heading title-strike__heading--reverse title-subhead__strike">Engineer</span></h3> #}

  <h1 class="h2">
    <span class="strike">
      <span class="strike__heading">Patrick</span>
      <span class="strike__line">&nbsp;</span>
      <span class="strike__heading strike__heading--reverse">Bower</span>
    </span>
  </h1>
</div>