<nav>
  <div class="header-secondary" data-init="back-button">
    <a href="/" class="js-back-button back-button leading--none">
      <svg class="icon--arrow-left">
        <use xlink:href="#icon--arrow-left"></use>
      </svg>
      <span class="visually-hidden">Back</span>
    </a>
    <div class="header-secondary__logo">
      <a href="/" class="branding-diamond branding-oblong">
        <svg class="icon--pb branding-diamond__icon branding-oblong__icon header-secondary__pb-icon">
          <use xlink:href="#icon--pb"></use>
        </svg>
      </a>
    </div>
  </div>
</nav>