<a href="#" class="branding-diamond branding-oblong">
  <svg class="icon--pb branding-diamond__icon branding-oblong__icon">
    <use xlink:href="#icon--pb"></use>
  </svg>
</a>
<div class="header belt">
  <div class="title">
    <div class="title__patrick">
      <svg class="title__icon-patrick icon-color--white">
        <use xlink:href="#icon--patrick"></use>
      </svg>
    </div>
    <div class="title__bower">
      <svg class="title__icon-bower icon-color--white">
        <use xlink:href="#icon--bower"></use>
      </svg>
    </div>
  </div>
  <h1 class="visually-hidden">Patrick Bower</h1>
  <h2 class="title__subhead">Front end developer</h2>
</div>
