<a href="#" class="branding-diamond branding-oblong">
  <svg class="icon--pb icon-color--mako branding-diamond__icon branding-oblong__icon">
    <use xlink:href="#icon--pb"></use>
  </svg>
</a>
<div class="header belt">
  <div class="title">
    <div class="title__patrick">
      <svg class="icon--patrick icon-color--white">
        <use xlink:href="#icon--patrick"></use>
      </svg>
    </div>
    <div class="title__bower">
      <svg class="icon--bower icon-color--white">
        <use xlink:href="#icon--bower"></use>
      </svg>
    </div>
  </div>
</div>
