<div class="header">
  <a href="#" class="branding-diamond branding-oblong">
    <svg class="icon--pb icon-color--mako branding-diamond__icon branding-oblong__icon">
      <use xlink:href="#icon--pb"></use>
    </svg>
  </a>
  <h1 class="h2 strike title">
    <span class="strike__text title__strike-text">Patrick</span>
    <span class="strike__line title__strike-line">&nbsp;</span>
    <span class="strike__text strike__text--reverse title__text-reverse">Bower</span>
  </h1>
  <h2 class="h2 title-subhead">
    UX <span class="strike__text strike__text--reverse title-subhead__text">Engineer</span>
  </h2>
</div>