<div class="content">
  <header class="content-section--header">
    {% include 'header.njk' %}
  </header>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--zero">
      <div class="content__area content__area--zero">
        {% include 'intro.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--one">
      <div class="content__area content__area--one">
        {% include 'development.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--two">
      <div class="content__area content__area--two">
        {% include 'design.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--three">
      <div class="content__area content__area--three">
        {% include 'communication.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--four">
      <div class="content__area content__area--four">
        {% include 'contact.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--five content-triangle__shape--footer"></div>
  </article>
  <footer>
    {% include 'footer.njk' %}
  </footer>
</div>