<div class="intro intro--media">
  <h2 class="h2">
    <span class="strike">Hello</span>
  </h2>
  <p>
    I've been working as Creative Technologist in London for the last 2 years creating software for the web. Before this, I specialised in design and development roles for 15 years. Today I enjoy using my broad-ranging experience in a multidisciplinary role and interacting with a mix of business, technical and creative people.
  </p>
</div>