<div class="intro intro--media">
  <h3 class="h2 strike">
    <span class="strike__text">Hello</span>
    <span class="strike__line">&nbsp;</span>
  </h3>
  <p>
    I've been working in design and technology for over fifteen years, specialising first in design, then in development. Currently, I connect my broad-ranging experience as a UX Engineer for Dazn, London. Interacting with a mix of business, technical and creative in my multidisciplinary role, I enjoy both the practice and leadership to deliver user-centred solutions.
  </p>
</div>