<div class="intro intro--media">
    <h2 class="h2">
        <span class="strike">Hello</span>
    </h2>
    <p>
        I’m two parts developer, one part designer. I spend my time helping to build frameworks, products and sites for a development consultancy based in London. My design background has influenced me since switching four years ago and gives me the benefit of helping to bridge the gap between technical and creative teams. I’m currently a hands on developer with an ambition to co-ordinate and add creativity for the clients and teams I work with.
    </p>
</div>
