<div class="intro intro--media">
  <h2 class="h2">
    <span class="strike">Hello</span>
  </h2>
  <p>
    I've been working in design and technology for over fifteen years, specialising first in design, then in development. Currently, I connect both passions and experience in these disciplines together with my broad-ranging experience as a UX Engineer in a London consultancy. Interacting with a mix of business, technical and creative people in a multidisciplinary role, I enjoy both the practice and leadership to deliver user-centred solutions.
  </p>
</div>