<div class="content">
  <header class="content-section--header">
    {% include 'header.njk' %}
  </header>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--zero">
      <div class="content__area content__area--zero">
        {% include 'intro.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--one js-inview">
      <div class="content__area content__area--one">
        {% include 'development.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--two js-inview">
      <div class="content__area content__area--two">
        {% include 'design.njk' %}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--three js-inview">
      <div class="content__area content__area--three">
        {% include 'communication.njk' %}
        {# {% include 'contact.njk' %} #}
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="content-triangle__shape content-triangle__shape--four content-triangle__shape--footer js-inview"></div>
  </article>
  <footer>
    {% include 'footer.njk' %}
  </footer>
</div>