h1,
h2,
h3,
h4
{
	margin: 0 0 0.5em 0;
	font-weight: inherit;
	line-height: 1.2;
}

h1
{
	color: $color-white;
	margin-top: 0;
	font-size: $h1;
	}

h2
{
	font-size: $h2;
}

h3
{
	font-size: $h3;
}

h4
{
	font-size: $h4;
}
