.scenery {
  width: 100%;
  background: #fecb00;
  overflow: hidden;
}

.scenery__inner {
  width: 2000px;
  position: absolute;
  left: -1000px;
}

.flat {
  @extend %cf;
  margin-top: -500px;
}

.flat__shape {
  display: inline-block;
  position: relative;
  width: 1000px;
  transform: rotate(45deg);

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.flat--5 {
  background: $blue;
  margin-left: 800px;
}

.flat--4 {
  background: $grey;
  margin-right: 800px;
}

.flat--3 {
  background: $red;
  margin-left: 800px;
}

.flat--2 {
  background: $blue;
  margin-right: 800px;
}

.flat--1 {
  background: $white;
  margin-left: 800px;
}
