// colours
$white: #ffffff;
$blue: 	#434A54;
$grey: 	#CCD0D9;
$red: 	#DB4453;

// layouts
$ratio : 600px;

$layout-1 : $ratio ;
$layout-2 : $ratio * 2 ;
$layout-3 : $ratio * 3 ;
$layout-4 : $ratio * 4 ;
$layout-5 : $ratio * 5 ;

$layout-margin : 800px ;