.button__wrap {
	margin-top: 50px;
	@media only screen and (min-width: $media-tablet) {
		margin-top: 30px;
	}
}

.button {
	padding: 13px 46px;
	border: 1px solid $color-mine-shaft;
	display: inline-block;
	color: inherit;
	text-decoration: none;
}


@mixin button ($button-colour) {

	&:hover {
		background: darken($button-colour, 5%);
		border-color: darken($button-colour, 5%);
	}

	&:active {
		background: darken($button-colour, 10%);
		border-color: darken($button-colour, 10%);
	}
}
