// colours
$color__primary--white: #ffffff;
$color__primary--blue: 	#434A54;
$color__primary--grey: 	#CCD0D9;
$color__primary--red: 	#DB4453;

$color__grey--dark: 	#333333;
$color__grey--med: 		#666666;
$color__grey--light: 	#999999;

$color__text--base: $color__grey--dark;