.icon {
	float: left;
}

.i {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../icons/sprite.svg);
}
.i-code {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}
.i-pb {
	width: 32px;
	height: 32px;
	background-position: -48px 0;
}
