$p : 1em;
$h1 : 6.854em;
$h2 : 4.236em;
$h3 : 2.618em;
$h4 : 1.618em;
$text-sml : 0.618em;


// http://type-scale.com/
html {
	font-size: $p;
}

body {
	background-color: $color-white;
	font-family: $body_font;
	font-weight: 400;
	line-height: 1.45;
	color: $color-mine-shaft;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" off;
}

p {
	margin: 0 0 1.3em 0;
}

h1, h2, h3, h4 {
	font-family: $heading_font;
	margin: 0 0 0.5em 0;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	color: $color-white;
	margin-top: 0;
	font-size: $h1;
	letter-spacing: -0.05em;
	}

h2 {
	font-size: $h2;
	letter-spacing: -0.05em;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

small,
.text-sml {
	font-size: $text-sml;
}

.strike {
	display: inline-block;
	transform-style: preserve-3d;

	&:after {
		content: '';
		width: 100px;
		height: 2px;
		background: $color-mine-shaft;
		position: absolute;
		bottom: 32px;
		right: -38px;
		transform: rotate(-45deg);

	}

	&:before{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 50px 50px;
		border-color: transparent transparent $color-white transparent;
		position: absolute;
		bottom: 15px;
  		right: -20px;
	}
}
