$p : 1em;
$h1 : 6.854em;
$h2 : 4.236em;
$h3 : 2.618em;
$h4 : 1.618em;
$text-sml : 0.618em;


// http://type-scale.com/
html {
	font-size: $p;
}

body {
	background-color: $color__primary--white;
	font-family: $body_font;
	font-weight: 400;
	line-height: 1.45;
	color: $color__grey--dark;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
	font-family: $heading_font;
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	color: $color__primary--white;
	margin-top: 0;
	font-size: $h1;
}

h2 {
	font-size: $h2;
}

h3 {
	font-size: $h3;
}

h4 {
	font-size: $h4;
}

small,
.text-sml {
	font-size: $text-sml;
}
