---
layout: base
title: Patrick Bower | UX Engineer | Communication
nextPage: development
---

<div class="content content--secondary slice slice--brickred">
  <header>
    {% include 'header-secondary.njk' %}
  </header>
  <section class="content--secondary-body">
    {% include 'communication-detail.njk' %}
  </section>
  <footer>
    {% include 'footer-secondary.njk' %}
  </footer>
</div>