@font-face {
  font-family: 'source_sans_regular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.grid:before,
.row:before,
.grid:after,
.row:after {
  content: " ";
  display: table; }

.grid:after,
.row:after {
  clear: both; }

.lt-ie8 .grid, .lt-ie8
.row {
  zoom: 1; }

.visually-hidden, .form__row--confirm {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.grid:after,
.row:after {
  clear: both;
  content: "";
  display: table; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html,
body {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  color: #ffffff;
  margin-top: 0;
  font-size: 6.854em; }

h2 {
  font-size: 4.236em; }

h3 {
  font-size: 2.618em; }

h4 {
  font-size: 1.618em; }

body {
  font-size: 1em;
  background-color: #ffffff;
  font-family: "source_sans_regular";
  font-weight: 400;
  line-height: 1.45;
  color: #333333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" off; }

p {
  margin: 0 0 1.3em 0; }

small {
  font-size: 0.618em; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  display: inline-block;
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

hr {
  margin: 1.5em 0; }

img {
  max-width: 100%; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-appearance: none;
  outline: 0;
  vertical-align: middle;
  border: none;
  background: #f2f2f2; }

.belt {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto; }

.column {
  padding: 0 0 30px 0; }

@media only screen and (min-width: 767px) {
  .grid {
    margin: 0 0 0 -30px; }
  .column {
    float: left;
    padding: 0 0 0 30px; }
    .column.float--right {
      float: right; }
  .width-5 {
    width: 5%; }
  .width-10 {
    width: 10%; }
  .width-15 {
    width: 15%; }
  .width-20 {
    width: 20%; }
  .width-25 {
    width: 25%; }
  .width-30 {
    width: 30%; }
  .width-35 {
    width: 35%; }
  .width-40 {
    width: 40%; }
  .width-45 {
    width: 45%; }
  .width-50 {
    width: 50%; }
  .width-55 {
    width: 55%; }
  .width-60 {
    width: 60%; }
  .width-65 {
    width: 65%; }
  .width-70 {
    width: 70%; }
  .width-75 {
    width: 75%; }
  .width-80 {
    width: 80%; }
  .width-85 {
    width: 85%; }
  .width-90 {
    width: 90%; }
  .width-95 {
    width: 95%; }
  .width-100 {
    width: 100%; }
  .width-16 {
    width: 16.6666666%; }
  .width-33 {
    width: 33.3333333%; }
  .width-66 {
    width: 66.6666666%; }
  .push-5 {
    margin-left: 5%; }
  .push-10 {
    margin-left: 10%; }
  .push-15 {
    margin-left: 15%; }
  .push-20 {
    margin-left: 20%; }
  .push-25 {
    margin-left: 25%; }
  .push-30 {
    margin-left: 30%; }
  .push-35 {
    margin-left: 35%; }
  .push-40 {
    margin-left: 40%; }
  .push-45 {
    margin-left: 45%; }
  .push-50 {
    margin-left: 50%; }
  .push-55 {
    margin-left: 55%; }
  .push-60 {
    margin-left: 60%; }
  .push-65 {
    margin-left: 65%; }
  .push-70 {
    margin-left: 70%; }
  .push-75 {
    margin-left: 75%; }
  .push-80 {
    margin-left: 80%; }
  .push-85 {
    margin-left: 85%; }
  .push-90 {
    margin-left: 90%; }
  .push-95 {
    margin-left: 95%; }
  .push-100 {
    margin-left: 100%; }
  .push-16 {
    margin-left: 16.6666666%; }
  .push-33 {
    margin-left: 33.3333333%; }
  .push-66 {
    margin-left: 66.6666666%; } }

.media {
  margin: 0 10px; }

.media__text {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media__img {
  padding-bottom: 60px; }
  @media only screen and (min-width: 767px) {
    .media__img {
      display: none; } }
  @media only screen and (min-width: 979px) {
    .media__img {
      display: block;
      padding-bottom: 0;
      float: left;
      margin-right: 30px; } }

.media__img img {
  display: block; }

.image-list__item {
  margin-bottom: 20px; }

.shape {
  display: inline-block; }
  .shape--disc {
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%; }

.icon {
  display: block; }
  .icon--bracket {
    width: 84px;
    height: 112px; }
  .icon--close {
    width: 20px;
    height: 20px; }
  .icon--note {
    width: 78px;
    height: 102px; }
  .icon--pb {
    width: 36px;
    height: 53px; }
  .icon--pencil {
    width: 75px;
    height: 214px; }
  .icon--vodafone {
    width: 50px;
    height: 50px; }
  .icon--email {
    width: 35px;
    height: 35px; }
  .icon--space-sml {
    margin: 7px; }

.icon-color--white {
  fill: #ffffff; }

.icon-color--mako {
  fill: #434A54; }

.icon-color--mischka {
  fill: #CCD0D9; }

.icon-color--brick-red {
  fill: #DB4453; }

.icon-color--mine-shaft {
  fill: #333333; }

.icon-color--ironside-gray {
  fill: #666666; }

.icon-color--mountain-mist {
  fill: #999999; }

.h1,
.h2,
.h3,
.h4 {
  font-family: "montserratbold"; }

.h1 {
  letter-spacing: -0.05em;
  margin: 0 0 0.5em 0;
  font-weight: inherit;
  line-height: 1.2;
  color: #ffffff;
  margin-top: 0;
  font-size: 6.854em; }

.h2 {
  letter-spacing: -0.05em;
  font-size: 4.236em; }

.h3 {
  font-size: 2.618em; }

.h4 {
  font-size: 1.618em; }

.sub-head {
  font-family: "montserratbold";
  font-size: 1.25em; }

.strike {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .strike:after {
    content: '';
    width: 100px;
    height: 2px;
    background: #333333;
    position: absolute;
    bottom: 32px;
    right: -38px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .strike:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 15px;
    right: -20px; }

.link--underline:hover, .link--underline:focus {
  text-decoration: underline; }

.button__wrap {
  margin-top: 50px; }
  @media only screen and (min-width: 767px) {
    .button__wrap {
      margin-top: 30px; } }

.button {
  padding: 13px 46px;
  border: 1px solid #333333; }

.button--submit {
  background: none; }

.button-color--brick-red {
  display: inline-block;
  color: inherit;
  text-decoration: none; }
  .button-color--brick-red:hover {
    background: #d72f3f;
    border-color: #d72f3f; }
  .button-color--brick-red:active {
    background: #c62636;
    border-color: #c62636; }

.button-color--mischka {
  display: inline-block;
  color: inherit;
  text-decoration: none; }
  .button-color--mischka:hover {
    background: #bdc3ce;
    border-color: #bdc3ce; }
  .button-color--mischka:active {
    background: #afb5c3;
    border-color: #afb5c3; }

.button-color--white {
  display: inline-block;
  color: inherit;
  text-decoration: none; }
  .button-color--white:hover {
    background: #f2f2f2;
    border-color: #f2f2f2; }
  .button-color--white:active {
    background: #e6e6e6;
    border-color: #e6e6e6; }

.form {
  padding: 50px 30px 30px 30px;
  background: #ffffff;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2); }
  .form__row {
    position: relative;
    margin-bottom: 30px;
    background: #f2f2f2;
    z-index: 0;
    height: 3.316em; }
    .form__row--confirm {
      margin-bottom: 0;
      height: 0; }
    .form__row--message {
      min-height: 13.264em; }
  .form__label {
    z-index: 1;
    position: absolute;
    display: inline-block;
    top: 1em;
    left: 1em;
    transition: 0.2s ease all; }
  .form__input {
    z-index: 2;
    padding: 1em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transition: 0.2s ease all;
    border-bottom: 1px solid #f2f2f2; }
    .form__input--textarea {
      height: 100%; }
    .form__input:focus {
      border-bottom: 1px solid #333333; }
    .form__input:focus ~ label,
    .form__input:valid ~ label {
      top: -1.45em;
      left: 0;
      color: #b3b3b3;
      font-size: 90%; }

.airmail:before, .airmail:after {
  content: '';
  position: relative; }

.airmail:before {
  top: 5px;
  height: 5px;
  display: block;
  background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px); }

.airmail:after {
  bottom: 5px;
  height: 5px;
  display: block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: repeating-linear-gradient(135deg, #83B3DB 0px, #84ADCB 30px, transparent 30px, transparent 50px, #F29B91 50px, #F09290 80px, transparent 80px, transparent 100px); }

.content {
  background: #434A54;
  overflow: hidden; }
  .content-section--header {
    min-height: 100vh; }
    @media only screen and (min-width: 479px) {
      .content-section--header {
        height: 100vh;
        min-height: 900px; } }
  @media only screen and (min-width: 767px) {
    .content-section {
      height: 50vh;
      width: 100vw;
      min-height: 500px; } }
  .content-triangle__shape {
    text-align: center;
    padding: 50px 0; }
    @media only screen and (min-width: 767px) {
      .content-triangle__shape {
        padding: 0;
        text-align: left;
        height: 100vw;
        width: 100vw; } }
    .content-triangle__shape--zero {
      background: #ffffff; }
      @media only screen and (min-width: 767px) {
        .content-triangle__shape--zero {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          margin-left: 30%; }
          .content-triangle__shape--zero:before {
            content: '';
            width: 100%;
            height: 100%;
            background: #ffffff;
            position: absolute;
            display: inline-block;
            margin-left: 99%; } }
    .content-triangle__shape--one {
      background: #CCD0D9; }
      @media only screen and (min-width: 767px) {
        .content-triangle__shape--one {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          margin-left: -30%; } }
    .content-triangle__shape--two {
      background: #DB4453; }
      @media only screen and (min-width: 767px) {
        .content-triangle__shape--two {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          margin-left: 30%; } }
    .content-triangle__shape--three {
      background: #ffffff; }
      @media only screen and (min-width: 767px) {
        .content-triangle__shape--three {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          margin-left: -30%; } }
    .content-triangle__shape--four {
      background: #CCD0D9; }
      @media only screen and (min-width: 767px) {
        .content-triangle__shape--four {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          margin-left: 30%; } }
  @media only screen and (min-width: 767px) {
    .content__area {
      width: 50%;
      position: relative;
      -webkit-transform-origin: top right;
          -ms-transform-origin: top right;
              transform-origin: top right; }
      .content__area--zero {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 35%;
        right: -35%;
        padding-left: 10%; }
      .content__area--one {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        padding-right: 10%; }
      .content__area--two {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 35%;
        right: -35%;
        padding-left: 10%; }
      .content__area--three {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        padding-right: 10%; }
      .content__area--four {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 35%;
        right: -35%;
        padding-left: 10%; } }

.header-logo {
  display: inline-block;
  position: relative;
  top: 0;
  left: 30px; }
  .header-logo:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 130px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: -50px;
    left: 10px; }
  .header-logo__icon {
    margin-top: 20px;
    position: relative; }
  .header-logo__pb {
    position: relative;
    top: 20px; }

.header-name {
  font-size: 3.5em;
  text-align: center;
  padding: 100px 0;
  text-transform: uppercase;
  margin-left: -10px; }
  @media only screen and (min-width: 479px) {
    .header-name {
      padding: 200px 0 0 0;
      font-size: 5em; } }
  .header-name__first {
    position: relative;
    bottom: -20px; }
    @media only screen and (min-width: 767px) {
      .header-name__first {
        margin-right: -265px;
        bottom: 0; } }
    .header-name__first:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 30px 30px;
      border-color: transparent transparent #434A54 transparent;
      position: absolute;
      right: -10px;
      bottom: 13px; }
      @media only screen and (min-width: 479px) {
        .header-name__first:before {
          right: -5px;
          bottom: 22px; } }
    .header-name__first:after {
      width: 230px;
      content: '';
      border-top: 1px solid #ffffff;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      position: absolute;
      bottom: -27px;
      right: -56px; }
      @media only screen and (min-width: 479px) {
        .header-name__first:after {
          width: 330px;
          bottom: -39px;
          right: -80px; } }
      @media only screen and (min-width: 767px) {
        .header-name__first:after {
          content: none; } }
  .header-name__last {
    position: relative; }
    @media only screen and (min-width: 767px) {
      .header-name__last {
        margin-left: -270px; } }
    .header-name__last:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #434A54 transparent transparent transparent;
      border-width: 30px 30px 0 0;
      position: absolute;
      top: 8px;
      left: -5px; }
      @media only screen and (min-width: 479px) {
        .header-name__last:before {
          top: 15px;
          left: 5px; } }
    .header-name__last:after {
      content: '';
      width: 230px;
      border-top: 1px solid #ffffff;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      position: absolute;
      top: -30px;
      left: -52px; }
      @media only screen and (min-width: 479px) {
        .header-name__last:after {
          width: 330px;
          top: -42px;
          left: -73px; } }
      @media only screen and (min-width: 767px) {
        .header-name__last:after {
          content: none; } }
  .header-name__slash {
    border: none;
    margin: 0; }
    @media only screen and (min-width: 767px) {
      .header-name__slash {
        width: 500px;
        border-top: 2px solid #ffffff;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        position: relative;
        display: inline-block;
        margin: 0 0 27px 0; } }

.header-sub {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.25em;
  margin-top: 40px; }
  @media only screen and (min-width: 479px) {
    .header-sub {
      margin-top: 50px; } }
  @media only screen and (min-width: 767px) {
    .header-sub {
      letter-spacing: 1em;
      margin-top: 10px; } }
  .header-sub__a {
    margin-right: 20px; }
    @media only screen and (min-width: 767px) {
      .header-sub__a {
        margin-left: 40px; } }
  .header-sub__b {
    margin-left: 20px; }
    @media only screen and (min-width: 767px) {
      .header-sub__b {
        margin-left: 40px; } }

.intro--media {
  margin: 0 10px; }

@media only screen and (min-width: 767px) {
  .contact__icon {
    margin-top: -15px; } }

.contact--strike:before {
  border-color: transparent transparent #ffffff transparent; }

@media only screen and (min-width: 767px) {
  .development__icon {
    margin-top: -20px; } }

.development--strike:before {
  border-color: transparent transparent #CCD0D9 transparent; }

@media only screen and (min-width: 767px) {
  .design__icon {
    margin-top: -80px; } }

.design--strike:before {
  border-color: transparent transparent #DB4453 transparent; }

.splash {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }
  .splash:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 75vh solid transparent;
    border-right: 75vh solid transparent;
    border-top: 75vh solid #CCD0D9;
    margin-left: -75vh; }
  .splash__image {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .splash__heading {
    position: relative;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    padding-left: 40px; }
  .splash__tilt-image {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -15vw; }

.screentakeover {
  position: relative;
  overflow-y: hidden; }
  .screentakeover__window {
    position: fixed;
    right: 0;
    left: 0;
    background: #333333;
    z-index: 99;
    color: #ffffff;
    -webkit-animation: 1s forwards;
            animation: 1s forwards;
    -webkit-animation-name: slide-in-from-top;
            animation-name: slide-in-from-top; }

@-webkit-keyframes slide-in-from-top {
  from {
    top: -200vw;
    bottom: 200vw; }
  to {
    top: 0;
    bottom: 0; } }

@keyframes slide-in-from-top {
  from {
    top: -200vw;
    bottom: 200vw; }
  to {
    top: 0;
    bottom: 0; } }
    .screentakeover__window:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 100vw solid transparent;
      border-right: 100vw solid transparent;
      border-top: 100vw solid #333333;
      position: absolute;
      bottom: -100vw;
      left: -100vw; }
  .screentakeover__content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }
  .screentakeover__project {
    opacity: 0;
    -webkit-animation: 0.5s forwards 1s;
            animation: 0.5s forwards 1s;
    -webkit-animation-name: fade-content-in;
            animation-name: fade-content-in; }

@-webkit-keyframes fade-content-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-content-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .screentakeover__close {
    display: block;
    float: right;
    padding: 20px;
    margin: 20px;
    border-radius: 50%; }
    .screentakeover__close:hover {
      background: rgba(100, 100, 100, 0.25); }
  .no-js .screentakeover__window {
    background: #ffffff;
    color: #333333; }
  .no-js .screentakeover__close {
    display: none; }

.float--left {
  float: left; }

.float--right {
  float: right; }

.align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .align--right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .align--left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.leading--none {
  line-height: 0; }