@font-face {
  font-family: 'source_sans_regular';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.grid:before,
.row:before, .model__close:before,
.grid:after,
.row:after,
.model__close:after {
  content: " ";
  display: table; }

.grid:after,
.row:after, .model__close:after {
  clear: both; }

.lt-ie8 .grid, .lt-ie8
.row, .lt-ie8 .model__close {
  zoom: 1; }

.visually-hidden, .form__row--confirm {
  border: none;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem; }

.grid:after,
.row:after, .model__close:after {
  clear: both;
  content: "";
  display: table; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 0.0625rem dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 2.5rem; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0.0625rem solid #c0c0c0;
  margin: 0 0.125rem;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-size: 1rem;
  background-color: #ffffff;
  font-family: "source_sans_regular";
  font-weight: 400;
  line-height: 1.45;
  color: #333333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" off; }

body:before {
  display: none;
  content: "mobile"; }

@media (min-width: 767px) {
  body:before {
    content: "tablet"; } }

@media (min-width: 979px) {
  body:before {
    content: "desktop"; } }

html,
body {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  color: #ffffff;
  margin-top: 0;
  font-size: 6.854rem; }

h2 {
  font-size: 4.236rem; }

h3 {
  font-size: 2.618rem; }

h4 {
  font-size: 1.618rem; }

p {
  margin: 0 0 1.3em 0; }

small {
  font-size: 0.618rem; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  display: inline-block;
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

hr {
  margin: 1.5em 0; }

img {
  max-width: 100%; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-appearance: none;
  outline: 0;
  vertical-align: middle;
  border: none;
  background: #f2f2f2; }

.belt {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto; }

.column {
  padding: 0 0 1.875rem 0; }

@media only screen and (min-width: 767px) {
  .grid {
    margin: 0 0 0 -1.875rem; }
  .column {
    float: left;
    padding: 0 0 0 1.875rem; }
    .column.float--right {
      float: right; }
  .width-5 {
    width: 5%; }
  .width-10 {
    width: 10%; }
  .width-15 {
    width: 15%; }
  .width-20 {
    width: 20%; }
  .width-25 {
    width: 25%; }
  .width-30 {
    width: 30%; }
  .width-35 {
    width: 35%; }
  .width-40 {
    width: 40%; }
  .width-45 {
    width: 45%; }
  .width-50 {
    width: 50%; }
  .width-55 {
    width: 55%; }
  .width-60 {
    width: 60%; }
  .width-65 {
    width: 65%; }
  .width-70 {
    width: 70%; }
  .width-75 {
    width: 75%; }
  .width-80 {
    width: 80%; }
  .width-85 {
    width: 85%; }
  .width-90 {
    width: 90%; }
  .width-95 {
    width: 95%; }
  .width-100 {
    width: 100%; }
  .width-16 {
    width: 16.6666666%; }
  .width-33 {
    width: 33.3333333%; }
  .width-66 {
    width: 66.6666666%; }
  .push-5 {
    margin-left: 5%; }
  .push-10 {
    margin-left: 10%; }
  .push-15 {
    margin-left: 15%; }
  .push-20 {
    margin-left: 20%; }
  .push-25 {
    margin-left: 25%; }
  .push-30 {
    margin-left: 30%; }
  .push-35 {
    margin-left: 35%; }
  .push-40 {
    margin-left: 40%; }
  .push-45 {
    margin-left: 45%; }
  .push-50 {
    margin-left: 50%; }
  .push-55 {
    margin-left: 55%; }
  .push-60 {
    margin-left: 60%; }
  .push-65 {
    margin-left: 65%; }
  .push-70 {
    margin-left: 70%; }
  .push-75 {
    margin-left: 75%; }
  .push-80 {
    margin-left: 80%; }
  .push-85 {
    margin-left: 85%; }
  .push-90 {
    margin-left: 90%; }
  .push-95 {
    margin-left: 95%; }
  .push-100 {
    margin-left: 100%; }
  .push-16 {
    margin-left: 16.6666666%; }
  .push-33 {
    margin-left: 33.3333333%; }
  .push-66 {
    margin-left: 66.6666666%; } }

.media {
  margin: 0 0.625rem; }

.media__text {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media__img {
  padding: 1.875rem 0 3.75rem 0; }
  @media only screen and (min-width: 979px) {
    .media__img {
      display: block;
      padding: 0 0 3.75rem 0;
      float: left;
      margin-right: 1.875rem; } }

.media__img img {
  display: block; }

.image-list__item {
  margin-bottom: 1.25rem; }

.shape {
  display: inline-block; }
  .shape--disc {
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.2);
    background: #ffffff;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%; }

.icon {
  display: block; }
  .icon--bracket {
    width: 5.25rem;
    height: 7rem; }
  .icon--close {
    width: 1.25rem;
    height: 1.25rem; }
  .icon--note {
    width: 4.875rem;
    height: 6.375rem; }
  .icon--pb {
    width: 2.25rem;
    height: 3.3125rem; }
  .icon--pencil {
    width: 4.6875rem;
    height: 13.375rem; }
  .icon--email {
    width: 2.1875rem;
    height: 2.1875rem; }
  .icon--space-sml {
    margin: 0.4375rem; }

.icon-color--white {
  fill: #ffffff; }

.icon-color--mako {
  fill: #434A54; }

.icon-color--mischka {
  fill: #CCD0D9; }

.icon-color--brick-red {
  fill: #DB4453; }

.icon-color--mine-shaft {
  fill: #333333; }

.icon-color--ironside-gray {
  fill: #666666; }

.icon-color--mountain-mist {
  fill: #999999; }

.h1,
.h2,
.h3,
.h4 {
  font-family: "montserratbold"; }

.h1 {
  font-size: 6.854rem;
  letter-spacing: -0.25rem;
  margin: 0 0 0.5rem 0;
  font-weight: inherit;
  line-height: 1.2;
  color: #ffffff; }
  .h1--secondary-page {
    font-size: 4.236rem;
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    text-align: center; }
    @media only screen and (min-width: 767px) {
      .h1--secondary-page {
        margin-top: 6.25rem;
        text-align: left; } }

.h2 {
  letter-spacing: -0.2rem;
  font-size: 4.236rem; }
  .h2--secondary-page {
    font-size: 2.618rem;
    text-align: center; }
    @media only screen and (min-width: 979px) {
      .h2--secondary-page {
        text-align: left; } }

.h3 {
  font-size: 2.618rem; }

.h4 {
  font-size: 1.618rem; }

.subhead__heading {
  margin-bottom: 0; }

.subhead__sub {
  margin: 0 0 3.125rem 0; }

.strike {
  display: inline-block;
  transform-style: preserve-3d; }
  .strike:after {
    content: '';
    width: 6.25rem;
    height: 0.125rem;
    background: #333333;
    position: absolute;
    bottom: 2rem;
    right: -2.375rem;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .strike:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3.125rem 3.125rem;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 0.9375rem;
    right: -1.25rem; }

.link--underline:hover, .link--underline:focus {
  text-decoration: underline; }

.button__wrap {
  margin-top: 3.125rem; }
  @media only screen and (min-width: 767px) {
    .button__wrap {
      margin-top: 1.875rem; } }

.button {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 0.8125rem 2.875rem;
  border: 1px solid #333333; }
  .button:hover {
    background: #262626;
    border-color: #262626;
    color: inherit; }
  .button:active {
    background: #1a1a1a;
    border-color: #1a1a1a;
    color: inherit; }

.button--submit {
  background: none; }

.button--brickred {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 0.8125rem 2.875rem;
  border: 1px solid #333333; }
  .button--brickred:hover {
    background: #d72f3f;
    border-color: #d72f3f;
    color: inherit; }
  .button--brickred:active {
    background: #c62636;
    border-color: #c62636;
    color: inherit; }

.button--mischka {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 0.8125rem 2.875rem;
  border: 1px solid #333333; }
  .button--mischka:hover {
    background: #bdc3ce;
    border-color: #bdc3ce;
    color: inherit; }
  .button--mischka:active {
    background: #afb5c3;
    border-color: #afb5c3;
    color: inherit; }

.button--white {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 0.8125rem 2.875rem;
  border: 1px solid #333333; }
  .button--white:hover {
    background: #f2f2f2;
    border-color: #f2f2f2;
    color: inherit; }
  .button--white:active {
    background: #e6e6e6;
    border-color: #e6e6e6;
    color: inherit; }

.button--mineshaft-darken {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding: 0.8125rem 2.875rem;
  border: 1px solid #333333; }
  .button--mineshaft-darken:hover {
    background: #f2f2f2;
    border-color: #f2f2f2;
    color: #333333; }
  .button--mineshaft-darken:active {
    background: #e6e6e6;
    border-color: #e6e6e6;
    color: #333333; }

.button--mineshaft-lighten {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 0.8125rem 2.875rem;
  border: 1px solid #ffffff; }
  .button--mineshaft-lighten:hover {
    background: #404040;
    border-color: #404040;
    color: #ffffff; }
  .button--mineshaft-lighten:active {
    background: #4d4d4d;
    border-color: #4d4d4d;
    color: #ffffff; }

.form {
  padding: 3.125rem 1.875rem 1.875rem 1.875rem;
  background: #ffffff;
  margin-bottom: 3.125rem; }
  .form__row {
    position: relative;
    margin-bottom: 2.5rem;
    background: #f2f2f2;
    z-index: 0;
    height: 3.316em; }
    .form__row--confirm {
      margin-bottom: 0;
      height: 0; }
    .form__row--message {
      min-height: 13.264em; }
  .form__label {
    z-index: 1;
    position: absolute;
    display: inline-block;
    top: 1em;
    left: 1em;
    transition: 0.2s ease all;
    color: #333333; }
  .form__input {
    z-index: 2;
    padding: 1em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transition: 0.2s ease all;
    border-bottom: 0.0625rem solid #f2f2f2;
    color: #333333; }
    .form__input--textarea {
      height: 100%; }
    .form__input:focus {
      border-bottom: 0.0625rem solid #333333; }
    .form__input:focus ~ label,
    .form__input:valid ~ label {
      top: -1.45em;
      left: 0;
      color: #B3B3B3;
      font-size: 90%; }

.content {
  background: #434A54;
  overflow: hidden; }
  .content--secondary {
    background: #333333;
    color: #ffffff;
    padding: 0 0.625rem;
    min-height: 100vh; }
  .content-section--header {
    min-height: 100vh; }
    @media only screen and (min-width: 479px) {
      .content-section--header {
        height: 100vh;
        min-height: 56.25rem; } }
  @media only screen and (min-width: 979px) {
    .content-section {
      height: 50vh;
      width: 100vw;
      min-height: 31.25rem; } }
  .content-triangle__shape {
    text-align: center;
    padding: 6.25rem 0; }
    @media only screen and (min-width: 979px) {
      .content-triangle__shape {
        padding: 0;
        text-align: left;
        height: 100vw;
        width: 100vw; } }
    .content-triangle__shape--zero {
      background: #ffffff; }
      @media only screen and (min-width: 979px) {
        .content-triangle__shape--zero {
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
          margin-left: 30%; }
          .content-triangle__shape--zero:before {
            content: '';
            width: 100%;
            height: 100%;
            background: #ffffff;
            position: absolute;
            display: inline-block;
            margin-left: 99%; } }
    .content-triangle__shape--one {
      background: #CCD0D9; }
      @media only screen and (min-width: 979px) {
        .content-triangle__shape--one {
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          margin-left: -30%; } }
    .content-triangle__shape--two {
      background: #DB4453; }
      @media only screen and (min-width: 979px) {
        .content-triangle__shape--two {
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
          margin-left: 30%; } }
    .content-triangle__shape--three {
      background: #ffffff; }
      @media only screen and (min-width: 979px) {
        .content-triangle__shape--three {
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          margin-left: -30%; } }
    .content-triangle__shape--four {
      background: #CCD0D9; }
      @media only screen and (min-width: 979px) {
        .content-triangle__shape--four {
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
          margin-left: 30%; } }
  @media only screen and (min-width: 979px) {
    .content__area {
      width: 50%;
      position: relative;
      -ms-transform-origin: top right;
          transform-origin: top right; }
      .content__area--zero {
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        top: 35%;
        right: -35%;
        padding-left: 10%; }
      .content__area--one {
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        padding-right: 10%; }
      .content__area--two {
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        top: 35%;
        right: -35%;
        padding-left: 10%; }
      .content__area--three {
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        padding-right: 10%; }
      .content__area--four {
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        top: 35%;
        right: -35%;
        padding-left: 10%; } }

.header-logo {
  display: inline-block;
  position: relative;
  top: 1.25rem;
  left: 50%;
  margin-left: -10px; }
  @media only screen and (min-width: 767px) {
    .header-logo {
      top: 0;
      left: 3.125rem; } }
  .header-logo:before {
    content: '';
    display: inline-block;
    width: 2.8125rem;
    height: 2.8125rem;
    background: #ffffff;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0.9375rem;
    left: 50%;
    margin-left: -1.5625rem; }
    @media only screen and (min-width: 767px) {
      .header-logo:before {
        top: -3.125rem;
        left: 0.625rem;
        width: 3.75rem;
        height: 8.125rem;
        margin-left: 0; } }
  .header-logo__icon {
    margin-top: 1.25rem;
    position: relative;
    width: 1.625rem;
    height: 2.6875rem; }
    @media only screen and (min-width: 767px) {
      .header-logo__icon {
        width: 2.25rem;
        height: 3.3125rem; } }
  .header-logo__pb {
    position: relative;
    top: 1.25rem; }

.header-name {
  font-size: 3.5em;
  text-align: center;
  padding: 12.5rem 0;
  text-transform: uppercase;
  margin-left: -0.625rem; }
  @media only screen and (min-width: 479px) {
    .header-name {
      font-size: 5em; } }
  .header-name__first {
    position: relative;
    bottom: -1.25rem; }
    @media only screen and (min-width: 767px) {
      .header-name__first {
        margin-right: -16.5625rem;
        bottom: 0; } }
    .header-name__first:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 1.875rem 1.875rem;
      border-color: transparent transparent #434A54 transparent;
      position: absolute;
      right: -0.625rem;
      bottom: 0.8125rem; }
      @media only screen and (min-width: 479px) {
        .header-name__first:before {
          right: -0.3125rem;
          bottom: 1.375rem; } }
    .header-name__first:after {
      width: 14.375rem;
      content: '';
      border-top: 1px solid #ffffff;
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      position: absolute;
      bottom: -1.6875rem;
      right: -3.5rem; }
      @media only screen and (min-width: 479px) {
        .header-name__first:after {
          width: 20.625rem;
          bottom: -2.4375rem;
          right: -5rem; } }
      @media only screen and (min-width: 767px) {
        .header-name__first:after {
          content: none; } }
  .header-name__last {
    position: relative; }
    @media only screen and (min-width: 767px) {
      .header-name__last {
        margin-left: -16.875rem; } }
    .header-name__last:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #434A54 transparent transparent transparent;
      border-width: 1.875rem 1.875rem 0 0;
      position: absolute;
      top: 0.5rem;
      left: -0.3125rem; }
      @media only screen and (min-width: 479px) {
        .header-name__last:before {
          top: 0.9375rem;
          left: 0.3125rem; } }
    .header-name__last:after {
      content: '';
      width: 14.375rem;
      border-top: 0.0625rem solid #ffffff;
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      position: absolute;
      top: -1.875rem;
      left: -3.25rem; }
      @media only screen and (min-width: 479px) {
        .header-name__last:after {
          width: 20.625rem;
          top: -2.625rem;
          left: -4.5625rem; } }
      @media only screen and (min-width: 767px) {
        .header-name__last:after {
          content: none; } }
  .header-name__slash {
    border: none;
    margin: 0; }
    @media only screen and (min-width: 767px) {
      .header-name__slash {
        width: 31.25rem;
        border-top: 0.125rem solid #ffffff;
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        position: relative;
        display: inline-block;
        margin: 0 0 1.6875rem 0; } }

.header-sub {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.25em;
  margin-top: 2.5rem; }
  @media only screen and (min-width: 479px) {
    .header-sub {
      margin-top: 3.125rem; } }
  @media only screen and (min-width: 767px) {
    .header-sub {
      letter-spacing: 1em;
      margin-top: 0.625rem; } }
  .header-sub__a {
    margin-right: 1.25rem; }
    @media only screen and (min-width: 767px) {
      .header-sub__a {
        margin-left: 2.5rem; } }
  .header-sub__b {
    margin-left: 1.25rem; }
    @media only screen and (min-width: 767px) {
      .header-sub__b {
        margin-left: 2.5rem; } }

.intro--media {
  margin: 0 0.625rem; }

@media only screen and (min-width: 979px) {
  .contact__icon {
    margin-top: -0.9375rem; } }

.contact--strike:before {
  border-color: transparent transparent #ffffff transparent; }

@media only screen and (min-width: 979px) {
  .development__icon {
    margin-top: -1.25rem; } }

.development--strike:before {
  border-color: transparent transparent #CCD0D9 transparent; }

@media only screen and (min-width: 979px) {
  .design__icon {
    margin-top: -5rem; } }

.design--strike:before {
  border-color: transparent transparent #DB4453 transparent; }

.splash {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden; }
  .splash:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 75vh solid transparent;
    border-right: 75vh solid transparent;
    border-top: 75vh solid #CCD0D9;
    margin-left: -75vh; }
  .splash__image {
    -ms-flex: 1 0 auto;
        flex: 1 0 auto; }
  .splash__heading {
    position: relative;
    -ms-flex: none;
        flex: none;
    padding-left: 2.5rem; }
  .splash__tilt-image {
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    margin-top: -15vw; }

.model--active {
  position: relative;
  overflow-y: hidden; }

.model__window-spring {
  position: fixed;
  right: 0;
  left: 0;
  background: #333333;
  z-index: 99;
  color: #ffffff;
  animation: 700ms forwards;
  animation-name: slide-in-from-top; }

@keyframes slide-in-from-top {
  from {
    top: -200vw;
    bottom: 200vw; }
  to {
    top: 0;
    bottom: 0; } }
  .model__window-spring:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    border-top: 100vw solid #333333;
    position: absolute;
    bottom: -100vw;
    left: -100vw; }

.model__window {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

.model__content {
  padding: 0 0.625rem;
  opacity: 0;
  animation: 300ms forwards 700ms;
  animation-name: fade-content-in; }

@keyframes fade-content-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  @media only screen and (min-width: 767px) {
    .model__content {
      padding: 0 1.25rem; } }

.model__close {
  display: block;
  float: right;
  padding: 1.25rem;
  margin: 1.25rem;
  border-radius: 50%; }
  .model__close:hover {
    background: rgba(100, 100, 100, 0.25); }

.float--left {
  float: left; }

.float--right {
  float: right; }

.align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .align--right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .align--left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start; }

.leading--none {
  line-height: 0; }

.animate--in {
  transition: all 0.3s ease-out;
  opacity: 0; }

.animate--out {
  transition: all 0.3s ease-out;
  opacity: 1; }

.fade--in {
  opacity: 1; }

.fade--out {
  opacity: 0; }

.display--none {
  display: none; }

.display--show {
  display: block; }