.screen-takeover__active
{
    overflow-y: hidden;
}

.screen-takeover
{
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-super;
    text-align: center;

    @media only screen and (min-width: $media-tablet)
    {
        color: $color-mine-shaft;
        text-align: left;
    }

    &__background
    {
        background: rgba(0, 0, 0, 0.9);
        padding: 10px;
        min-height: 75vw;
    }

    &__background-shape
    {
        @media only screen and (min-width: $media-tablet)
        {


            &:before
            {
                content: '';
                position: absolute;
                top:0;
                left:0;
                z-index: $z-index-over;
                width: 0;
                height: 0;
                border-top: 75vw solid $color-white;
                border-right: 75vw solid transparent;
            }
        }
    }

    &__content
    {
        z-index: $z-index-high;
        position: relative;

        @media only screen and (min-width: $media-tablet)
        {
            padding-top: 10px;
            padding-bottom: 50px;
        }
    }

    &__title
    {
        padding: 100px 0;
        font-size: $h3;
        color: $color-white;

        @media only screen and (min-width: $media-mobile)
        {
            font-size: $h2;
        }

        @media only screen and (min-width: $media-tablet)
        {
            color: $color-mine-shaft;
            padding-top: 50px;
            padding-bottom: 75px;
        }

    }

    &__close-button {
        @include button($color-mine-shaft);
        @include border($color-white);

        &--top
        {
            position: absolute;
            top: 0;
            right: 0;

            @media only screen and (min-width: $media-tablet)
            {
                top: 75px;
            }
        }
    }
}
