// pallete
$colour-cinnabar: #E74B3E;
$colour-mako: #3ee7a0;
$colour-rolling-stone: #71777d;
$colour-mischka: #ccd0d9;

// tones
$colour-white: #ffffff;
$colour-concrete: #f2f2f2;
$colour-black: #141823;
$colour-mine-shaft: #333333;
$colour-nobel: #b3b3b3;
$colour-ironside-gray: #666666;
$colour-mountain-mist: #999999;