// pallete
$color-mako: #434a54;
$color-rolling-stone: #71777d;
$color-mischka: #ccd0d9;
$color-brick-red: #db4453;

// tones
$color-white: #ffffff;
$color-concrete: #f2f2f2;
$color-black: #000000;
$color-mine-shaft: #333333;
$color-nobel: #b3b3b3;
$color-ironside-gray: #666666;
$color-mountain-mist: #999999;
