// pallete
$colour-cinnabar: #E74B3E;
$colour-mako: #434a54;
$colour-rolling-stone: #71777d;
$colour-mischka: #ccd0d9;

// tones
$color-white: #ffffff;
$color-concrete: #f2f2f2;
$color-black: #000000;
$color-mine-shaft: #333333;
$color-nobel: #b3b3b3;
$color-ironside-gray: #666666;
$color-mountain-mist: #999999;