// Default px value
$base: 18;

// fonts
$body-font: "RobotoSlab";
$body-font-variable: "RobotoSlab-Variable";
$heading-font: "montserratbold";

// scales
// http://type-scale.com/
$p: 1rem;
$h1: 6.854rem;
$h2: 4.236rem;
$h3: 2.618rem;
$h4: 1.618rem;
$text-small: 0.618rem;