// Default px value
$base : 16;

// fonts
$body-font : 'source_sans_regular';
$heading-font : 'montserratbold';

// scales
// http://type-scale.com/
$p : 1rem;
$h1 : 6.854rem;
$h2 : 4.236rem;
$h3 : 2.618rem;
$h4 : 1.618rem;
$text-sml : 0.618rem;
