.media {
    margin:10px;
}

.media__text {
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}

.media__img {
    float:left;
    margin-right: 30px;
    display: none;
    @media only screen and (min-width: 990px) {
        display: block;
    }
    @media only screen and (max-width: $media-lrg) {
        display: block;
    }
}

.media__img img{
    display:block;
}
