.branding {
  &-diamond {
    display: inline-block;
    position: relative;
    z-index: 999;
    text-align: center;
    top: rem(20px);

    @media only screen and (min-width: $media-desktop) {
      text-align: initial;
    }

    &:before {
      content: "";
      display: inline-block;
      width: rem(45px);
      height: rem(45px);
      background: lighten($colour-mine-shaft, 10%);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: rem(-25px);
    }

    &__icon {
      top: rem(5px);
      position: relative;
      width: rem(26px);
      height: rem(43px);
      fill: $colour-mine-shaft;
    }

    &__pb {
      position: relative;
      top: rem(20px);
    }
  }

  @media only screen and (min-width: $media-desktop) {
    &-oblong {
      top: 0;
      left: rem(50px);

      &:before {
        top: rem(-50px);
        left: rem(10px);
        width: rem(60px);
        height: rem(130px);
        margin-left: 0;
      }

      &__icon {
        top: 0.85rem;
        width: rem(36px);
        height: rem(53px);
      }
    }
  }
}