.button__wrap {
    margin-top: rem(50px);
    @media only screen and (min-width: $media-tablet) {
        margin-top: rem(30px);
    }
}

.button
{
    padding: rem(13px) rem(46px);
    @include border($color-mine-shaft)
}

.button--submit
{
    background: none;
}
