.button {

    &-color--brick-red {
        @include button ($color-brick-red);
    }

    &-color--mischka {
        @include button ($color-mischka);
    }

    &-color--white {
        @include button (
            $button-background-color: $color-white,
            $button-color: $color-white,
            $button-text-hover-color: $color-mine-shaft);
    }
}
