.development-gallery
{
    &__github-link
    {
        background: lighten($color-mine-shaft, 5%);
        padding: rem(20px);
        border-radius: rem(5px);

        @media only screen and (min-width: $media-desktop)
        {
            margin-bottom: rem(50px);
        }

        &-icon
        {
            width: rem(50px);
            height: rem(50px);
        }

        &:hover
        {
            background: darken($color-ironside-gray, 10%);
        }
    }
}
