.footer-secondary
{
    flex: none;
    background: $color-white;
    text-align: center;
    color: $color-mine-shaft;
    margin: 0 0 rem(10px) 0;

    &__back-button {
        display: block;
    }
}
