.form
{
    padding: em(50px) em(30px) em(30px) em(30px);
    background: $color-white;
    box-shadow: 0 0 em(80px) 0 rgba(0,0,0,0.2);

    &__row
    {
        position: relative;
        margin-bottom: em(30px);
        background: darken($color-white, 5%);
        z-index: 0;
        height: 3.316em;

        &--confirm
        {
            margin-bottom: 0;
            height: 0;
            @extend .visually-hidden;
        }

        &--message
        {
            min-height: 13.264em;
        }
    }

    &__label
    {
        z-index: 1;
        position: absolute;
        display: inline-block;
        top: 1em;
        left: 1em;
        transition: 0.2s ease all;
    }

    &__input
    {
        z-index: 2;
        padding: 1em;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        transition: 0.2s ease all;
        border-bottom: em(1px) solid darken($color-white, 5%);

        &--textarea
        {
            height: 100%;
        }

        &:focus
        {
            border-bottom: em(1px) solid $color-mine-shaft;
        }

        &:focus ~ label,
        &:valid ~ label
        {
            top: -1.45em;
            left: 0;
            color: lighten($color-mine-shaft, 50%);
            font-size: 90%;
        }
    }
}

.airmail
{
    &:before,
    &:after
    {
        content: '';
        position: relative;
    }

    &:before
    {
        top: em(5px);
        height: em(5px);
        display: block;
        background-image: repeating-linear-gradient(
            135deg,
            #F29B91 em(0px),
            #F09290 em(30px),
            transparent em(30px),
            transparent em(50px),
            #83B3DB em(50px),
            #84ADCB em(80px),
            transparent em(80px),
            transparent em(100px)
        );
    }

    &:after
    {
        bottom: em(5px);
        height: em(5px);
        display: block;
        transform: rotate(180deg);
        background-image: repeating-linear-gradient(
            135deg,
            #83B3DB em(0px),
            #84ADCB em(30px),
            transparent em(30px),
            transparent em(50px),
            #F29B91 em(50px),
            #F09290 em(80px),
            transparent em(80px),
            transparent em(100px)
        );
    }
}
