.form
{
    padding: rem(50px) rem(30px) rem(30px) rem(30px);
    background: $color-white;
    margin-bottom: rem(50px);

    &__row
    {
        position: relative;
        margin-bottom: rem(40px);
        background: $color-concrete;
        z-index: 0;
        height: 3.316em;

        &--confirm
        {
            margin-bottom: 0;
            height: 0;
            @extend .visually-hidden;
        }

        &--message
        {
            min-height: 13.264em;
        }
    }

    &__label
    {
        z-index: 1;
        position: absolute;
        display: inline-block;
        top: 1em;
        left: 1em;
        transition: 0.2s ease all;
        color: $color-mine-shaft;
    }

    &__input
    {
        z-index: 2;
        padding: 1em;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        transition: 0.2s ease all;
        border-bottom: rem(1px) solid $color-concrete;
        color: $color-mine-shaft;

        &--textarea
        {
            height: 100%;
        }

        &:focus
        {
            border-bottom: rem(1px) solid $color-mine-shaft;
        }

        &:focus ~ label,
        &:valid ~ label
        {
            top: -1.45em;
            left: 0;
            color: $color-nobel;
            font-size: 90%;
        }
    }
}
