.icon-color {
  &--white {
    fill: $colour-white;
  }

  &--mako {
    fill: $colour-mako;
  }

  &--mischka {
    fill: $colour-mischka;
  }

  &--brick-red {
    fill: $colour-cinnabar;
  }

  &--mine-shaft {
    fill: $colour-mine-shaft;
  }

  &--ironside-gray {
    fill: $colour-ironside-gray;
  }

  &--mountain-mist {
    fill: $colour-mountain-mist;
  }
}
