// icon sizes
.icon {
    display: block;

    &--bracket {
        width: em(84px);
        height: em(112px);
    }

    &--close {
        width: em(20px);
        height: em(20px);
    }

    &--note {
        width: em(78px);
        height: em(102px);
    }

    &--pb {
        width: em(36px);
        height: em(53px);
    }

    &--pencil {
        width: em(75px);
        height: em(214px);
    }

    &--email {
        width: em(35px);
        height: em(35px);
    }

    &--space-sml {
        margin: em(7px);
    }
}
