// icon sizes
.icon
{
    display: block;

    &--bracket
    {
        width: rem(84px);
        height: rem(112px);
    }

    &--close
    {
        width: rem(20px);
        height: rem(20px);
    }

    &--note
    {
        width: rem(78px);
        height: rem(102px);
    }

    &--pb
    {
        width: rem(36px);
        height: rem(53px);
    }

    &--pencil
    {
        width: rem(75px);
        height: rem(214px);
    }

    &--github
    {
        width: rem(80px);
        height: rem(80px);

        &-sml
        {
            width: rem(35px);
            height: rem(35px);
        }
    }

    &--linkedin
    {
        width: rem(80px);
        height: rem(80px);
    }

    &--space-sml
    {
        margin: rem(7px);
    }
}
