.link {
  &--underline {

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__site-link {
    background: lighten($colour-mine-shaft, 10%);
    padding: rem(20px);
    border-radius: rem(5px);
    margin-bottom: rem(40px);
    // border: 1px solid $colour-cinnabar;

    &-icon {
      width: rem(50px);
      height: rem(50px);
    }

    &:hover {
      background: lighten($colour-mine-shaft, 5%);
    }
  }
}