// .list {
//   margin-bottom: 20px;

//   li {
//     list-style-type: disc;
//     margin-left: 20px;
//   }
// }

.list {
  list-style: none;

  & li::before {
    content: "\2022";
    color: $colour-cinnabar;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    // margin-left: -1em;
  }
}


.list-horizontal {
  display: flex;
  align-items: center;

  &--align-bottom {
    align-items: flex-end;
  }

  li {
    margin-right: rem(30px);
  }
}