.list {
  list-style: none;

  li {
    padding: 0 0 0.5em 1em;
  }

  li:before {
    color: $colour-cinnabar;
    content: "\2022";
    display: block;
    margin: 0 0 -1.8em -1em;
    width: 1em;
  }
}


.list-horizontal {
  display: flex;
  align-items: end;

  &--align-bottom {
    align-items: flex-end;
  }

  li {
    margin-right: rem(30px);
  }
}