.page-not-found {
  padding: 0;
  background: $colour-cinnabar;

  &__section {
    padding-top: 155px;
    text-align: center;
  }

  &__link {
    border-color: $color-white;
    color: $color-white;
  }
}