.shape
{
    display: inline-block;

    &--disc
    {
        box-shadow: 0 0 rem(80px) 0 rgba(0,0,0,0.2);
        background: $color-white;
        width: rem(60px);
        height: rem(60px);
        border-radius: 50%;
    }
}
