.strike {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text {
    line-height: 1;
    display: inline-block;
    clip-path: polygon(0% 100%,
        0% 0%,
        100% 0%,
        100% calc(100% - 0.5em),
        calc(100% - 0.5em) 100%);
    padding-right: 0.05em;

    &:first-letter {
      margin-left: -0.05em;
    }

    &--reverse {
      clip-path: polygon(0 0.5em, 0 100%, 100% 100%, 100% 0, 0.5em 0);
    }
  }

  &__line {
    display: inline-block;
    width: 1px;
    height: 1.5em;
    background: $colour-mine-shaft;
    transform: rotate(45deg);
    z-index: 1;
  }
}