.title-text {
  font-family: $heading-font;
  display: flex;
  justify-content: center;
  font-size: 6rem;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
  margin-top: 150px;

  &__patrick {
    display: inline-block;
    position: relative;
    z-index: 0;

    &:after {
      content: "";
      position: absolute;
      right: -25px;
      margin-bottom: 30px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 27px solid transparent;
      border-right: 27px solid transparent;
      border-bottom: 27px solid $color-mako;
      transform: rotate(135deg);
      z-index: 1;
    }

    &:before {
      content: "";
      position: relative;
      transform: rotate(45deg);
      width: 1px;
      height: 75px * 5;
      background-color: $color-white;
      position: absolute;
      right: 0;
      top: -(75px * 1.5);
      z-index: 3;
    }
  }

  &__bower {
    display: inline-block;
    position: relative;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      left: -10px;
      margin-top: 30px;
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $color-mako;
      transform: rotate(-45deg);
      z-index: 0;
    }
  }

  &__subhead {
    font-family: $heading-font;
    color: $color-white;
    text-align: center;
    font-size: rem(18px);
    @media only screen and (min-width: $media-tablet) {
      font-size: rem(22px);
    }
    @media only screen and (min-width: $media-desktop) {
      font-size: rem(26px);
    }
  }
}
