.title {
  display: none !important;

  $icon-width: 400px;
  $icon-height: 75px;
  $scale-mobile: 2.8;
  $scale-tablet: 1.6;
  $scale-desktop: 1;

  display: flex;
  justify-content: center;
  padding: 130px 0 10px;

  @media only screen and (min-width: $media-tablet) {
    padding: 200px 0 20px;
  }

  &__icon-patrick,
  &__icon-bower {
    width: rem(floor($icon-width / $scale-mobile)); // 175
    height: rem(floor($icon-height / $scale-mobile)); // 35

    @media only screen and (min-width: $media-tablet) {
      width: rem(floor($icon-width / $scale-tablet)); // 250
      height: rem(floor($icon-height / $scale-tablet)); // 45
    }
    @media only screen and (min-width: $media-desktop) {
      width: rem($icon-width); // 400
      height: rem($icon-height); // 75
    }
  }

  &__icon-patrick {
    margin-right: -2px;
    @media only screen and (min-width: $media-tablet) {
      margin-right: -4px;
    }
    @media only screen and (min-width: $media-desktop) {
      margin-right: -8px;
    }
  }

  &__patrick {
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      transform: rotate(45deg);
      width: 1px;
      height: $icon-height * 5;
      background-color: $color-white;
      position: absolute;
      right: 0;
      top: -($icon-height * 2);
    }
  }

  &__subhead {
    display: none;
    font-family: $heading-font;
    color: $color-white;
    text-align: center;
    font-size: rem(18px);
    @media only screen and (min-width: $media-tablet) {
      font-size: rem(22px);
    }
    @media only screen and (min-width: $media-desktop) {
      font-size: rem(26px);
    }
  }
}
