.title {
  font-size: 10vw;
  letter-spacing: -0.05em;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 1em;

  @media only screen and (min-width: $media-desktop) {
    font-size: 6vw;
  }

  &__strike-line {
    background: $colour-white;
    height: 6em;
    display: inline-block;
  }
}

.title-subhead {
  font-size: 4vw;
  letter-spacing: 0.85em;
  text-transform: uppercase;
  color: white;
  justify-content: center;

  @media only screen and (min-width: $media-desktop) {
    margin-top: -5em;
    font-size: 2vw;
  }

  @media only screen and (max-width: $media-desktop) {
    &__text {
      clip-path: none;
    }
  }
}