.h1,
.h2,
.h3,
.h4
{
    font-family: $heading-font;
}

.h1
{
    font-size: $h1;
    letter-spacing: -0.25rem;
    margin: 0 0 0.5rem 0;
    font-weight: inherit;
    line-height: 1.2;
    color: $color-white;

    &--secondary-page
    {
        font-size: $h2;
        margin-top: rem(50px);
        margin-bottom: rem(100px);
        text-align: center;

        @media only screen and (min-width: $media-tablet)
        {
            margin-top: rem(100px);
            text-align: left;
        }
    }
}

.h2
{
    letter-spacing: -0.2rem;
    font-size: $h2;

    &--secondary-page
    {
        font-size: $h3;
        text-align: center;

        @media only screen and (min-width: $media-desktop)
        {
            text-align: left;
        }
    }
}

.h3
{
    font-size: $h3;
}

.h4
{
    font-size: $h4;
}

.subhead
{
    &__heading
    {
        margin-bottom: 0;
    }

    &__sub
    {
        margin: 0 0 rem(50px) 0;
    }
}

.strike
{
    display: inline-block;
    transform-style: preserve-3d;

    &:after
    {
        content: '';
        width: rem(100px);
        height: rem(2px);
        background: $color-mine-shaft;
        position: absolute;
        bottom: rem(32px);
        right: rem(-38px);
        transform: rotate(-45deg);

    }

    &:before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 rem(50px) rem(50px);
        border-color: transparent transparent $color-white transparent;
        position: absolute;
        bottom: rem(15px);
        right: rem(-20px);
    }
}
