.h1,
.h2,
.h3,
.h4 {
  font-family: $heading-font;
}

.h1 {
  font-size: $h1;
  letter-spacing: -0.25rem;
  margin: 0 0 0.5rem 0;
  font-weight: inherit;
  line-height: 1.2;
  color: $colour-white;
}

.h2 {
  letter-spacing: -0.2rem;
  font-size: $h2;
  margin: 0 0 0.5rem 0;
}

.h3 {
  font-size: $h3;
}

.h4 {
  font-size: $h4;
}

.subhead {
  &__heading {
    margin-bottom: 0;
  }

  &__sub {
    margin: 0 0 rem(50px) 0;
  }
}

.text {
  &--bold {
    font-family: $heading-font;
  }

  &--small {
    font-size: $text-small;
  }

  &--paragraph {
    font-size: $p;
  }
}

// .strike {
//   display: inline-block;
//   overflow: hidden;
//   padding-right: 4em;


//   &__heading {
//     display: inline-block;
//     position: relative;
//     transform-style: preserve-3d;
//     clip-path: polygon(0 0, calc(100% + 0.2em) 0%, calc(100% - 1em) 100%, 0 100%);
//     padding-right: 0.4em;

//     &:after {
//       content: "";
//       width: 0;
//       height: 100%;
//       display: inline-block;
//       border-left: rem(2px) solid $colour-mine-shaft;
//       position: absolute;
//       transform: skew(-45deg);
//       right: 0.4em;
//       top: 0;
//     }
//   }

//   &__animate {
//     transition: all 300ms ease-in;
//     position: relative;

//     &.inview--ready {
//       left: 120%;
//     }

//     &.inview--play {
//       left: 0%;
//     }
//   }
// }