body {
  font-size: $p;
  background-color: $color-white;
  font-family: $body-font;
  font-weight: 400;
  line-height: 1.45;
  color: $color-mine-shaft;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" off;
}
