html {
  font-size: $base + px;
}

body {
  // font-size: $p;
  background-color: $color-white;
  font-family: $body-font;
  font-weight: 400;
  line-height: 1.65;
  color: $color-mine-shaft;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga"off;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: $body-font-variable;
    font-variation-settings: "wght"400;
  }
}