.float
{
    &--left
    {
        float: left;
    }

    &--right
    {
        float: right;
    }
}

.align
{
    display: flex;
    align-items: center;
    justify-content: center;

    &--right
    {
        display: flex;
        justify-content: flex-end;
    }

    &--left
    {
        display: flex;
        justify-content: flex-start;
    }
}
