<!DOCTYPE html>
<html class="no-js">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>

    <meta name="description" content="Web Devolopment &amp; Design Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link rel="apple-touch-icon" href="apple-touch-icon.png" -->

    <meta name="referrer" content="origin" />

    <script>
        (function() {
            var html = document.documentElement;
            html.className = html.className.replace("no-js", "js");
        })();
    </script>

    <link rel="stylesheet" href="/styles/main.css">

    {% include 'sprite.svg' %}

</head>

<!--[if IE 8]><body class="lte-ie9 lt-ie9"> <![endif]-->
<!--[if IE 9]><body class="lte-ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <body data-init="in-view"> <!--<![endif]-->

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<main>
    {{ content | safe }}
</main>

<script src="/scripts/main.js"></script>

</body>
</html>
