<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150359422-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-150359422-1');
    </script>
    <!-- Google Analytics END -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ title }}</title>

    <meta name="description" content="Web Devolopment &amp; Design Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="https://www.patrickbower.com/favicon.ico"/>

    <meta name="referrer" content="origin"/>

    <script>
      (function () {
        var html = document.documentElement;
        html.className = html
          .className
          .replace("no-js", "js");
      })();
    </script>

    <link rel="stylesheet" href="/styles/main.css">

    {% include 'sprite.svg' %}

  </head>

  <body data-init="in-view">

    <main>
      {{ content | safe }}
    </main>

    <script src="/scripts/main.js"></script>

  </body>
</html>