.space {
  &--lrg {
    &-before {
      margin-top: rem(100px);
    }

    &-after {
      margin-bottom: rem(100px);
    }
  }

  &--med {
    &-before {
      margin-top: rem(60px);
    }

    &-after {
      margin-bottom: rem(60px);
    }
  }

  &--sml {
    &-before {
      margin-top: rem(20px);
    }

    &-after {
      margin-bottom: rem(20px);
    }
  }

  &--none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}