// pallete
$color-white:               #ffffff;
$color-black:               #000000;
$color-mako: 	            #434A54;
$color-mischka: 	        #CCD0D9;
$color-brick-red: 	        #DB4453;

// tones
$color-mine-shaft: 	        #333333;
$color-ironside-gray: 		#666666;
$color-mountain-mist: 	    #999999;

// brands
$color-vodafone:            #e60000;
