.button__wrap {
	margin-top: 50px;
	@media only screen and (min-width: $media-tablet) {
		margin-top: 30px;
	}
}

.button {
	padding: 13px 46px;
	border: 1px solid $color-mine-shaft;
	display: inline-block;
	color: inherit;
	text-decoration: none;

	&-close
	{
		position: absolute;
        top: 30px;
        right: 0;
		text-align: center;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $color-white;

		// &__icon
		// {
		//
		// }

		&:hover
		{
			background: $color-white;
			border: none;
		}

		// &__text
		// {
		// 	color: $color-white;
		// 	display: block;
		// 	text-transform: uppercase;
		// }
	}
}
