---
layout: base
title: Patrick Bower | Creative Technologist | 404 Page Not Found
permalink: 404.html
---

<div class="content content--secondary page-not-found">
  <header>
    {% include 'header-secondary.njk' %}
  </header>
  <section class="belt page-not-found__section">
    <h1 class="h2">
      <span class="visually-hidden">404</span> Page Not Found
    </h1>
    <p class="h4">
      oh won't you please take me <a href="/" class="button button--brickred page-not-found__link">Home</a>
    </p>
  </section>
</div>