<div class="contact">
    <div class="media">
        <div class="media__img contact__icon">
            <svg class="icon--note">
                <use xlink:href="#icon--note"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike contact--strike">Contact</span>
            </h2>
            <p>
                When I not making, breaking or creating something on my Macbook you’ll usually find me outside with my young family or on wheels of one kind or another but I’m always interested in hearing about new idea’s and opportunities so please get in touch and I’ll come back to you as soon as I can.
            </p>
            <div class="button__wrap">
                <span class="display--desktop">
                    <a href="/pages/contact.html" class="button button--white js-modal-start" data-modal="modal-contact">
                        Visit contact
                    </a>
                </span>
                <span class="display--mobile" data-init="email"></span>
            </div>
        </div>
    </div>
</div>
