<div class="contact">
    <div class="media">
        <div class="media__img contact__icon">
            <svg class="icon--note">
                <use xlink:href="#_icon--note"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike contact--strike">Contact</span>
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione culpa inventore cumque alias nihil deleniti repellat blanditiis, fugit deserunt qui voluptates odio commodi accusantium quae distinctio facilis reprehenderit aspernatur nesciunt aperiam, possimus at. Harum aperiam, a sapiente optio assumenda labore perspiciatis officiis commodi dicta, nam, voluptatibus cupiditate ipsa esse animi.
            </p>
            <div class="button__wrap">
                <a href="pages/contact.php#screen-takeover" class="button button-color--white js-screen-takeover__launch">
                    Visit contact
                </a>
            </div>
        </div>
    </div>
</div>
