<div class="design">
    <div class="media">
        <div class="media__img design__icon">
            <svg class="icon--pencil icon-color--white">
                <use xlink:href="#icon--pencil"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike design--strike">
                    Creative
                </span>
            </h2>
            <p>
                Finding the right solution to the right problem using a unique and refined easthic motivates the designer in me. During my eight years in design roles I worked across print and digital engaging with clients and brands in many sectors including seeing artwork featured on record covers, editing magazines, producing clothing lines, creating branding for new products and designing retail spaces.
            </p>
            <div class="button__wrap">
                <a href="/pages/design.html#design" class="button button--brickred js-modal-start">
                    View Design Projects
                </a>
            </div>
        </div>
    </div>
</div>
