<div class="design" data-init="model">    
    <div class="media">
        <div class="media__img design__icon">
            <svg class="icon--pencil">
                <use xlink:href="#icon--pencil"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike design--strike">
                    Creative
                </span>
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione culpa inventore cumque alias nihil deleniti repellat blanditiis, fugit deserunt qui voluptates odio commodi accusantium quae distinctio facilis reprehenderit aspernatur nesciunt aperiam, possimus at. Harum aperiam, a sapiente optio assumenda labore perspiciatis officiis commodi dicta, nam, voluptatibus cupiditate ipsa esse animi.
            </p>
            <div class="button__wrap">
                <a href="/pages/design.html#js-model__content" class="button button--brickred js-model__launch">
                    View Design Projects
                </a>
            </div>
        </div>
    </div>
</div>
