<div class="belt">
    <div class="js-model--content">
        <h2 class="h4 text--upper">
            Development project
        </h2>
        <div class="grid">
            <div class="column width-30">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque, deleniti ut qui, ea suscipit quas sunt libero veniam expedita possimus? Suscipit architecto voluptatum eveniet voluptatibus quaerat tempora eligendi hic ab temporibus nihil illo cumque corporis molestiae sed, ad nesciunt a eos nam? Omnis praesentium, fuga, asperiores harum ex, distinctio voluptatem nemo amet quibusdam iste ad et necessitatibus architecto quos totam, velit dolore veritatis dignissimos consequuntur facilis nihil. Eos voluptate dicta, non neque necessitatibus similique repellat cumque eveniet nulla voluptas enim officiis facere, itaque rem. Minima aspernatur, aperiam doloremque. Voluptatibus debitis quas alias, officia fuga temporibus, nulla deserunt nobis nostrum!
                </p>
            </div>
            <div class="column width-70">
                <picture>
                    <source srcset="images/logo-paddy-wagon-480.jpg" media="(max-width: 480px)">
                    <source srcset="images/logo-paddy-wagon-768.jpg" media="(max-width: 768px)">
                    <img src="images/logo-paddy-wagon-1200.jpg" alt="logo for my bike">
                </picture>
                <picture>
                    <source srcset="images/logo-gent-480.jpg" media="(max-width: 480px)">
                    <source srcset="images/logo-gent-768.jpg" media="(max-width: 768px)">
                    <img src="images/logo-gent-1200.jpg" alt="#">
                </picture>
                <picture>
                    <source srcset="images/logo-ka-480.jpg" media="(max-width: 480px)">
                    <source srcset="images/logo-ka-768.jpg" media="(max-width: 768px)">
                    <img src="images/logo-ka-1200.jpg" alt="#">
                </picture>
                <picture>
                    <source srcset="images/logo-skinesis-480.jpg" media="(max-width: 480px)">
                    <source srcset="images/logo-skinesis-768.jpg" media="(max-width: 768px)">
                    <img src="images/logo-skinesis-1200.jpg" alt="#">
                </picture>
                <!-- logo section end -->
                <picture>
                    <source srcset="images/logo-skinesis-480.jpg" media="(max-width: 480px)">
                    <source srcset="images/logo-skinesis-768.jpg" media="(max-width: 768px)">
                    <img src="images/logo-skinesis-1200.jpg" alt="#">
                </picture>
                <!-- clothing section end -->
            </div>
        </div>
    </div>
</div>
