<div class="belt">
    <div class="js-model--content">
        <h2 class="h4 text--upper">
            Design project
        </h2>
        <div class="grid">
            <div class="column width-30">
                <p>
                    My design pathway has traditional print roots but through the course of several years I transitioned towards digital design before becoming a developer. Between these times I’ve had experience working with a broad range of briefs, learning how to understand client needs and to articulate concepts. It’s the key skill to be able to communicate combined with the art of problem solving that motivated me and it’s this that I can still find exciting when working with design teams in my current development role.
                </p>
            </div>
            <div class="column width-70">
                <section>
                    <h3 class="h4">
                        Branding
                    </h3>
                    <picture>
                        <source srcset="images/logo-paddy-wagon-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/logo-paddy-wagon-768.jpg" media="(max-width: 768px)">
                        <img src="images/logo-paddy-wagon-1200.jpg" alt="logo for my bike">
                    </picture>
                    <picture>
                        <source srcset="images/logo-gent-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/logo-gent-768.jpg" media="(max-width: 768px)">
                        <img src="images/logo-gent-1200.jpg" alt="#">
                    </picture>
                    <picture>
                        <source srcset="images/logo-ka-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/logo-ka-768.jpg" media="(max-width: 768px)">
                        <img src="images/logo-ka-1200.jpg" alt="#">
                    </picture>
                    <picture>
                        <source srcset="images/logo-skinesis-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/logo-skinesis-768.jpg" media="(max-width: 768px)">
                        <img src="images/logo-skinesis-1200.jpg" alt="#">
                    </picture>
                </section>
                <!-- logo section end -->
                <section>
                    <h3 class="h4">
                        Clothing
                    </h3>
                    <picture>
                        <source srcset="images/clothing-caps-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/clothing-caps-768.jpg" media="(max-width: 768px)">
                        <img src="images/clothing-caps-1200.jpg" alt="#">
                    </picture>
                    <picture>
                        <source srcset="images/clothing-stringlogo-tee-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/clothing-stringlogo-tee-768.jpg" media="(max-width: 768px)">
                        <img src="images/clothing-stringlogo-tee-1200.jpg" alt="#">
                    </picture>
                    <picture>
                        <source srcset="images/clothing-wires-tee-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/clothing-wires-tee-768.jpg" media="(max-width: 768px)">
                        <img src="images/clothing-wires-tee-1200.jpg" alt="#">
                    </picture>
                </section>
                <!-- clothing section end -->
                <!-- <section>
                    <h3 class="h4">
                        Poster
                    </h3>
                    <picture>
                        <source srcset="images/poster-storm-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/poster-storm-768.jpg" media="(max-width: 768px)">
                        <img src="images/poster-storm-1200.jpg" alt="#">
                    </picture>
                </section> -->
                <!-- poster section end -->
                <section>
                    <h3 class="h4">
                        Editorial
                    </h3>
                    <picture>
                        <source srcset="images/print-insw1-range-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/print-insw1-range-768.jpg" media="(max-width: 768px)">
                        <img src="images/print-insw1-range-1200.jpg" alt="#">
                    </picture>
                    <picture>
                        <source srcset="images/print-insw1-magazine-480.jpg" media="(max-width: 480px)">
                        <source srcset="images/print-insw1-magazine-768.jpg" media="(max-width: 768px)">
                        <img src="images/print-insw1-magazine-1200.jpg" alt="#">
                    </picture>
                </section>
                <!-- print section end -->
            </div>
        </div>
    </div>
</div>
