<div class="development" data-init="model">
    <div class="media">
        <div class="media__img development__icon">
            <svg class="icon--bracket">
                <use xlink:href="#icon--bracket"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike development--strike">
                    Coder
                </span>
            </h2>
            <p>
                Semantic, powerful and eloquent code have been among the key goals in my work for the global organisations that require rock solid performance for their millions of unique visitors they receive each day. Building these platforms has given me the opportunity to help understand the art of delivering code using emerging technologies and known development principles often within a large program of work.
            </p>
            <div class="button__wrap">
                <a href="/pages/development.html#js-model--content" class="button button--mischka js-model--launch">
                    View Devolopment Projects
                </a>
            </div>
        </div>
    </div>
</div>
