<div class="js-model__content">
    <h2 class="h2">Development project</h2>
    <div class="grid">
        <div class="column width-30">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque, deleniti ut qui, ea suscipit quas sunt libero veniam expedita possimus?</p>
            </p>
            <p>
                Suscipit architecto voluptatum eveniet voluptatibus quaerat tempora eligendi hic ab temporibus nihil illo cumque corporis molestiae sed, ad nesciunt a eos nam? Omnis praesentium, fuga, asperiores harum ex, distinctio voluptatem nemo amet quibusdam iste ad et necessitatibus architecto quos totam.
            </p>
            <p>
                velit dolore veritatis dignissimos consequuntur facilis nihil. Eos voluptate dicta, non neque necessitatibus similique repellat cumque eveniet nulla voluptas enim officiis facere, itaque rem. Minima aspernatur, aperiam doloremque. Voluptatibus debitis quas alias, officia fuga temporibus, nulla deserunt nobis nostrum!
            </p>
            <a href="/pages/development.html#js-model__content" class="button button--white-grey">
                Visit site
            </a>
        </div>
        <div class="column width-70">
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
            <picture>
                <source srcset="http://placehold.it/480x240" media="(max-width: 480px)">
                <source srcset="http://placehold.it/768x386" media="(max-width: 768px)">
                <img src="http://placehold.it/1200x603" alt="#">
            </picture>
        </div>
    </div>
</div>
