<div class="development" data-js-init="LaunchModel">
    <div class="media">
        <div class="media__img development__icon">
            <svg class="icon--bracket">
                <use xlink:href="#icon--bracket"></use>
            </svg>
        </div>
        <div class="media__text">
            <h2 class="h2">
                <span class="strike development--strike">
                    Coder
                </span>
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione culpa inventore cumque alias nihil deleniti repellat blanditiis, fugit deserunt qui voluptates odio commodi accusantium quae distinctio facilis reprehenderit aspernatur nesciunt aperiam, possimus at. Harum aperiam, a sapiente optio assumenda labore perspiciatis officiis commodi dicta, nam, voluptatibus cupiditate ipsa esse animi.
            </p>
            <div class="button__wrap">
                <a href="/pages/development.html#js-model__content" class="button button-color--mischka js-model__launch">
                    View Devolopment Projects
                </a>
            </div>
        </div>
    </div>
</div>
