<h2 class="h2 screen-takeover__title">
    Development<br>
    Projects
</h2>
<div class="card-cross project">
    <div class="card-cross__back width-100">
        <div class="grid">
            <div class="column width-40">
                <div class="project__logo-cont align">
                    <span class="shape shape--disc align">
                        <svg class="icon--vodafone icon-color--mine-shaft">
                            <use xlink:href="#icon--vodafone"></use>
                        </svg>
                    </span>
                </div>
                <h3 class="h3">
                    Vodafone Global
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore libero nobis saepe consequatur repellendus qui provident voluptates aspernatur ea illo ducimus facere perspiciatis, tenetur ab sapiente distinctio nam reprehenderit corporis.
                </p>
                <p>
                    Deleniti minus corporis aliquam et earum atque ut, illum dolorum quo, sapiente debitis animi accusantium hic temporibus enim quod suscipit velit ipsa, voluptatibus quae sit maiores quisquam necessitatibus perspiciatis. Est, doloremque ad enim dolor architecto aperiam voluptatem neque deleniti, repellat provident laboriosam qui earum sint ab.
                </p>
                <a href="http://www.vodafone.com" class="button button-color--white" target="_blank">
                    www.vodafone.com
                </a>
            </div>
        </div>
    </div>
    <div class="card-cross__front width-60">
        <ul class="image-list">
            <li class="image-list__item">
                <img src="/images/vodafone-lrg.jpg" alt="vodafone global site homepage">
            </li>
            <li class="image-list__item">
                <img src="/images/vodafone-lrg.jpg" alt="vodafone global site homepage">
            </li>
            <li class="image-list__item">
                <img src="/images/vodafone-lrg.jpg" alt="vodafone global site homepage">
            </li>
            <li class="image-list__item">
                <img src="/images/vodafone-lrg.jpg" alt="vodafone global site homepage">
            </li>
        </ul>
    </div>
</div>
