<div class="model__window" id="js-model__fragment">
    <div class="model__content">
        <div class="grid">
            <div class="column width-100">
                <a href="#" class="model__close js-model__close leading--none">
                    <svg class="icon--close">
                        <use xlink:href="#_icon--close"></use>
                    </svg>
                    <span class="visually-hidden">close</span>
                </a>
            </div>
        </div>
        <div class="model__project">
            <div class="belt">
                <h2 class="h2">Vodafone Global</h2>
                <h3 class="h3">Front End Devolopment</h3>
                <div class="grid">
                    <div class="column width-30">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque, deleniti ut qui, ea suscipit quas sunt libero veniam expedita possimus? Suscipit architecto voluptatum eveniet voluptatibus quaerat tempora eligendi hic ab temporibus nihil illo cumque corporis molestiae sed, ad nesciunt a eos nam? Omnis praesentium, fuga, asperiores harum ex, distinctio voluptatem nemo amet quibusdam iste ad et necessitatibus architecto quos totam, velit dolore veritatis dignissimos consequuntur facilis nihil. Eos voluptate dicta, non neque necessitatibus similique repellat cumque eveniet nulla voluptas enim officiis facere, itaque rem. Minima aspernatur, aperiam doloremque. Voluptatibus debitis quas alias, officia fuga temporibus, nulla deserunt nobis nostrum!
                    </div>
                    <div class="column width-70">
                        <img src="/images/vfcom.jpg" alt="">
                        <img src="/images/vfcom.jpg" alt="">
                        <img src="/images/vfcom.jpg" alt="">
                        <img src="/images/vfcom.jpg" alt="">
                        <img src="/images/vfcom.jpg" alt="">
                        <img src="/images/vfcom.jpg" alt="">
                        <img src="/images/vfcom.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
