<div class="belt">
    <div class="js-model--content">
        <h2 class="h2">
            Development project
        </h2>
        <div class="grid">
            <div class="column width-70">
                <p>
                    Owing to non disclose agreements I cannot show images or link to the live site but I can however tell you in broad terms about how I contributed to a successful project for a global brand on a site recording over 500,000 page views a day.
                </p>
                <p>
                    This fast paced project was run on scrum methodology and had a small team of 10-15 people comprised of business, design, integration and front-end. Working as a lead front-end developer primarily between design and integration to supply feature rich templates I also continued throughout the project to work alongside all parties to help solve problems and translate idea’s into a performant, scaleable codebase.
                </p>
                <p>
                    The technology we employed was a bespoke front-end framework using ITCSS and Browserify (and jQuery), sitting on a Larval stack (previously Middleman), processed using Grunt. We created a custom build process powered by Jenkins and to enable the team to see live releases, notes and download assets. The team worked closely using Slack, staying organised using Trello, Jira for tracking and sharing via Basecamp.
                </p>
            </div>
        </div>

        <div class="media align--middle space--med-before">
            <div class="media__img space--none">
                <svg class="icon--github icon-color--white">
                    <use xlink:href="#icon--github"></use>
                </svg>
            </div>
            <div class="media__text">
                To view some code, checkout my GitHub profile.
            </div>
        </div>

    </div>
</div>
