<header>
    <div class="header belt">
        <a href="#" class="header-logo">
            <svg class="icon--pb icon-colour--mako header-logo__pb">
                <use xlink:href="#_icon--pb"></use>
            </svg>
        </a>
        <h1 class="h1 header-name">
            <span class="header-text header-name__first">Patrick</span>
            <hr class="header-name__slash">
            <span class="header-text header-name__last">Bower</span>
            <span class="header-sub">
                <span class="header-sub__a">Coder</span>
                <span class="header-sub__b">Creative</span>
            </span>
        </h1>
    </div>
</header>
