<template data-model-template="template">
    <div style="display:none;">
        <div class="model__window-spring">
            <div class="model__window">
                <div class="grid">
                    <div class="column width-100">
                        <a href="#" class="model__close leading--none" data-model-template="close">
                            <svg class="icon--close">
                                <use xlink:href="#_icon--close"></use>
                            </svg>
                            <span class="visually-hidden">close</span>
                        </a>
                    </div>
                </div>
                <div class="model__project belt" data-model-template="content"></div>
            </div>
        </div>
    </div>
</template>
