<template id="js-model-template">
    <div style="display:none;">
        <div class="model__window-spring js-model-template__window">
            <div class="model__window">
                <div class="grid">
                    <div class="column width-100">
                        <a href="#" class="model__close leading--none js-model-template__close">
                            <svg class="icon--close">
                                <use xlink:href="#icon--close"></use>
                            </svg>
                            <span class="visually-hidden">close</span>
                        </a>
                    </div>
                </div>
                <div class="model__project belt js-model-template__content"></div>
            </div>
        </div>
    </div>
</template>
