// micro-clearfix
%clearfix:before,
%clearfix:after {
  content: " ";
  display: table;
}

%clearfix:after {
  clear: both;
}

.lt-ie8 %clearfix {
  zoom: 1;
}

// convert px to rem
@function rem($size) {
  $size: $size / ($size * 0 + 1);
  $remSize: $size / $base;

  @return #{$remSize}rem;
}

// borders
@mixin border($color) {
  border: 1px solid $color;
}