.media {
    margin: 0 rem(10px);
}

.media__text {
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}

.media__img {
    padding-bottom: rem(60px);

    @media only screen and (min-width: $media-tablet) {
        display: none;
    }
    @media only screen and (min-width: $media-desktop) {
        display: block;
        padding-bottom: 0;
        float:left;
        margin-right: rem(30px);
    }
}

.media__img img{
    display:block;
}
