.carrossel
{
    position: relative;

    &__window
    {
        overflow: hidden;
    }

    &__rail
    {
        @extend %clearfix;
        width: 300%;
        line-height: 0;
    }

    &__slide
    {
        width: 33.333%;
        display: inline-block;
        float: left;
        margin: 0 -1%;

        &:first-child
        {
            margin-left: 0;
        }
        &:last-child
        {
            margin-right: 0;
        }
    }

    &__image
    {
        padding: 0 4%;
    }

    &__pip-list
    {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        margin-bottom: -35px;

    }

    &__pip-item
    {
        display: inline-block;
    }

    &__pip
    {
        height: 12px;
        width: 12px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid $color-ironside-gray;
        margin: 0 2px;
    }

    &__pip--active
    {
        background: $color-ironside-gray;
    }

}
