.header
{
    height: 1200px;

    // PB logo
    &-logo
    {

        &__bg
        {
            position: absolute;
            top: -60px;

            &:before
            {
                content: '';
                display: block;
                width: 60px;
                height: 130px;
                background: $color-white;
                transform: rotate(45deg);
                margin-left: 13px;
            }

        }

        &__icon
        {
            position: relative;
            margin-top: -55px;
        }
    }

    // Patrick Bower
    &-name
    {
        text-align: center;
        padding-top: 200px;
        font-size: 5em;
        text-transform: uppercase;
        margin-left: -10px;
        text-shadow: 0px 0px 30px $color-mako;

        &__first
        {
            position: relative;
            bottom: -20px;
            z-index: $z-index-over;
            @media only screen and (min-width: $media-lrg) {
                margin-right: -265px;
                bottom: 0;
            }

            &:after
            {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 30px 30px;
                border-color: transparent transparent $color-mako transparent;
                position: absolute;
                right: -5px;
                bottom: 22px;
            }
        }

        &__last
        {
            position: relative;
            @media only screen and (min-width: $media-lrg) {
                margin-left: -270px;
            }

            &:before
            {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 30px 0 0;
                border-color: $color-mako transparent transparent transparent;
                position: absolute;
                top: 15px;
                left: 5px;
            }

        }

            &__slash
            {
            display: none;

            @media only screen and (min-width: $media-lrg) {
                width: 500px;
                border: 1px solid $color-white;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                position: relative;
                display: inline-block;
                margin: 0 0 27px 0;
                z-index: $z-index-high;
            }
        }
    }

    // Code Creative
    &-sub
    {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 0.25em;
        @media only screen and (min-width: $media-lrg) {
            letter-spacing: 1em;
            margin-top: 15px;
        }

        &__a
        {
            margin-right: 40px;
            text-shadow: 0px 0px 30px $color-mako;
        }

        &__b
        {
            margin-left: 40px;
            text-shadow: 0px 0px 30px $color-mako;
        }
    }
}
