.header {
    height: 1200px;

    // PB logo
    &-logo {

        &__bg {
            position: absolute;
            top: -60px;

            &:before {
                content: '';
                display: block;
                width: 80px;
                height: 160px;
                background: $color__primary--grey;
                transform: rotate(45deg);
                margin-left: 13px;
            }
        }

        &__icon {
            position: relative;
            margin-top: -70px;
        }
    }

    // Patrick Bower
    &-name {
        font-size: 5em; // resized from global to suit display and font
        text-transform: uppercase;
        text-align: center;
        padding-top: 200px;
        letter-spacing: -0.05em;
        text-rendering: optimizeLegibility;
        margin-left: -10px;
        text-shadow: 0px 0px 30px $color__primary--blue;

        &__first {
            margin-right: -265px;
            position: relative;
            z-index: $z-index-over;

            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 30px 30px;
                border-color: transparent transparent $color__primary--blue transparent;
                position: absolute;
                right: -5px;
                bottom: 22px;
            }
        }

        &__last {
            margin-left: -270px;
            position: relative;

            &:before {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 30px 0 0;
                border-color: $color__primary--blue transparent transparent transparent;
                position: absolute;
                top: 15px;
                left: 5px;
            }

        }

        &__slash {
            width: 500px;
            border: 1px solid $color__primary--white;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: relative;
            display: inline-block;
            margin: 0 0 27px 0;
            z-index: $z-index-high;
        }
    }

    // Code Creative
    &-sub {
        display: block;
        text-transform: uppercase;
        font-size: 0.25em;
        letter-spacing: 1em;
        margin-top: 15px;

        &__a {
            margin-right: 40px;
            text-shadow: 0px 0px 30px $color__primary--blue;
        }

        &__b {
            margin-left: 40px;
            text-shadow: 0px 0px 30px $color__primary--blue;
        }
    }

    // parallax lines = http://keithclark.co.uk/articles/pure-css-parallax-websites/
    &-line {

        &__wrap {
            height: 0;
            width: 800px;
            margin: 0 auto;
            position: relative;
        }

        &__line {
            position: absolute;
        }

        &--one {
            width: 500px;
            top: 0;
            left: 0px;
        }

        &--two {
            width: 1000px;
            top: 0;
            left: 10px;
        }

        &--three {
            width: 700px;
            top: 0;
            left: 20px;
        }

        &--four {
            width: 900px;
            top: 0;
            left: 30px;
        }

        & {
            border: 1px solid $color__primary--red;
            transform: rotate(-45deg);
        }
    }
}
