.line {

    &__wrap {
        width: 900px;
        margin: 0 auto;
        position: relative;
    }

    & {
        display: block;
        position: absolute;
        border-top: 1px solid $color-brick-red;
        transform: rotate(-45deg);
    }

    &--one {
        width: 1000px;
        top: 600px;
        left: -625px;
    }
    &--two {
        width: 500px;
        top: 100px;
        left: 420px;
    }
    &--three {
        width: 600px;
        top: 450px;
        left: 250px;

    }
    &--four {
        width: 750px;
        top: 200px;
        left: 510px;
    }
}
