.project {

    &__index-list
    {
        margin-bottom: $space-75;
    }

    &__sub-head
    {
        margin-bottom: $space-30;
    }

    &__image
    {
        margin-bottom: $space-20;
        box-shadow: 0 0 100px rgba(0,0,0,0.5);
    }
}
