.scenery {
        overflow: hidden;
        height: 3500px;
        z-index: -1;
}

.scenery__layout {
    position: relative;
    left: 50%;
    width: 4800px;
    margin-left: -2400px;
    text-align: center;
}

.scenery__flat {
    width: 500px;
    height: 500px;
    border-style: solid;
    display: inline-block;
}

.flat--5 {
    border-width: 1800px 1800px 0 1800px;
    border-color: $color__primary--blue rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
    margin-bottom: -700px;
    margin-left: -1800px;
}

.flat--4 {
    border-width: 0 $triangle__size--4 $triangle__size--4 $triangle__size--4;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) $color__primary--grey rgba(255,255,255,0);
    margin-left: -($triangle__margin);
}  

.flat--3 {
    border-width: 0 $triangle__size--3 $triangle__size--3 $triangle__size--3;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) $color__primary--red rgba(255,255,255,0);
    margin-top: -($triangle__size--3);
    margin-left: $triangle__margin;
} 

.flat--2 {
    border-width: 0 $triangle__size--2 $triangle__size--2 $triangle__size--2;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) $color__primary--blue rgba(255,255,255,0);
    margin-top: -($triangle__size--2);
    margin-left: -($triangle__margin);
}

.flat--1 {
    border-width: 0 $triangle__size--1 $triangle__size--1 $triangle__size--1;
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) $color__primary--white rgba(255,255,255,0);
    margin-top: -($triangle__size--1);
    margin-left: $triangle__margin;
}