.screen-takeover__active
{
    overflow-y: hidden;
}

.screen-takeover
{
    color: $color-white;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-super;

    &__background
    {
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 10px 150px 10px;
    }

    &__title
    {
        margin-bottom: $space-75;
    }

    &__content
    {
        padding-top: 50px;
    }

    &--button
    {
        border-color: $color-white;
        @include button ($color-mine-shaft);
    }
}
