.screen-takeover__active {
    overflow-y: hidden;
}

.screen-takeover {
    color: $color-white;
    overflow-y: auto;

    & {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $color-black;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px;
        z-index: $z-index-super;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    img {
        width: 100%;
    }
}
