.backgound--triangle
{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 0;
    height: 0;
	border-top: 75vw solid #e90000;
    // border-top: 75vw solid $color-mountain-mist;
	border-right: 75vw solid transparent;
}

.screen-takeover__active
{
    overflow-y: hidden;
}

.screen-takeover
{
    color: $color-white;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-super;

    &__background
    {
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 10px 150px 10px;
    }

    &__title
    {
        margin-bottom: $space-75;
    }

    &__content
    {
        padding-top: 50px;
        z-index: 2;
        position: relative;
    }

    &--button
    {
        border-color: $color-white;
        @include button ($color-mine-shaft);
    }
}
