.slider
{
    position: relative;

    &__window
    {
        overflow: hidden;
    }

    &__rail
    {
        @extend %clearfix;
        line-height: 0;
        transition: margin-left 0.5s;
    }

    &__carriage
    {
        display: inline-block;
        float: left;
        margin: 0 -1%;

        &:first-child
        {
            margin-left: 0!important;
        }
        &:last-child
        {
            margin-right: 0!important;
        }

        &--active
        {
            position: relative;
            z-index: -1;
        }
    }

    &__slide
    {
        padding: 0 4%;
    }

    &__pip-list
    {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        margin-bottom: -35px;

    }

    &__pip-item
    {
        display: inline-block;

        &--active .slider__pip {
            background: $color-ironside-gray;
        }
    }

    &__pip
    {
        height: 12px;
        width: 12px;
        display: inline-block;
        border-radius: 50%;
        background: $color-mountain-mist;
        margin: 0 2px;
    }
}
