.stage {
    position: absolute;
    top: 0;
    width: 100%;
}

.content {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    border: 1px solid red;
}

.content__section {
    
}