$content__item--height: 1250px;

.stage {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 3500px;
    z-index: 1;
}

.stage__inner {
    position: relative;
}

.header {
    height: 1200px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.content__item {
    height: 1242px;
    margin-top: -622px;
    display: table;
    width: 100%;
}

.content__item--inner {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50% 0 10px;

}

.content__item--intro {
    padding: 0 10px 0 50%;
}

.content__item--code {

}

.media-object {
    @extend %cf;
    zoom: 1;

    &__img {
        float: left;
        margin: -100px 10px 0 0;

    }

    &__text {
        overflow: hidden;
    }
}

.content__item--creative {
    padding: 0 10px 0 50%;
}

.content__item--contact {

}
